@import 'nib'
*
	margin 0
	padding 0
	
body
	background #f2f2f2
	font-family Open Sans
	color #2e2f33
.Header-Main
	background white
	&__box
		text-align left
		padding-top .5em
		padding-bottom .5em
	&__logo
		display block
		margin-left 1em
		a
			text-decoration none
			color #3a3a3a
			font-family  'Arial' sans-serif
			img
				width 50px
				display inline-block
				vertical-align middle
			h1
				display inline-block
				vertical-align middle
				font-size 1.5rem
	
	
.happy
	background #f2f2f2
	&__box
		text-align center
		padding 20px
	h2
		text-align left
		font-size 3rem
		padding-top .5em
		padding-bottom .5em
	p
		text-align left
		font-size 1.5rem
		&.mensaje
			text-align center
	h3
		text-align text
		font-size 2em
		padding-top .5em
		padding-bottom .5em
	h4
		text-align text
		font-size 1.7em
		padding-top .5em
		padding-bottom .5em
	a
		text-align center
		margin 15px
		color white
		background #00E2D4
		padding 1em
		display block
		border-radius 15px
		font-size 1.5em
		text-decoration none
		&:hover
				background #55FFF4
		
@media (min-width 768px)
	.happy
		&__box
			padding 4em
			padding-top 1em