.Benefit
	background white
	padding-top 6em 
	&__text
		text-align center
		margin auto
		width 90%
		h2
			color color__gris
			font-size 2em
		p 
			color gris__subtitulo
			font-size 1.4em
			padding-top .5em
	&__art
		padding 2em 0
	&__cajas
		border-radius 25px
		text-align center
		vertical-align top
		p
			color #585858
		figure
			img
				width 200px
				border-radius 50%
		.text
			margin 1.5em 0
			h3
				margin 1em 0
				font-size 1.5em	
				
@media screen and (min-width 321px)
	.Benefit
		&__art
			text-align center
			margin auto
			width 90%
		&__cajas
			margin: .5em 2em 0.5em 2em
			display inline-block
			max-width 350px
			
@media screen and (min-width 768px)
	.Benefit
		&__cajas
			margin 0 5%
			width 200px
			.text
				p 
					font-size 1.2em
					color #585858
		&__text
			h2
				font-size 3.2em
			p 
				font-size 2em
















		