.contacto
	padding-top 2em
	background white
	&__box
		width 100%
		text-align center
		margin 0 auto
		padding-top 3em
		padding-bottom 3em
	&__title
		width 100%
		h2
			font-size title_h2
			color color__gris
		p	
			font-size size_p
			color gris__subtitulo
	&__contenido
			width 100%
			display block
			padding-top 1em
			padding-bottom 1em
		.contenido__contacto
			padding-bottom 1.5em
			.contacto__llamada
				padding-bottom 1em
				h3
					font-size 1.5em
					color gris_letra
				a	
					font-size 1.4em
					text-decoration none
					color celeste_cromlu
					&:hover
						color skyblue
						text-decoration underline
			.contacto__mail
				padding-bottom 1em
				h3
					font-size 1.5em
					color gris_letra
				a	
					font-size 1.4em
					text-decoration none
					color celeste_cromlu
					&:hover
						color skyblue
						text-decoration underline
			.contacto__redes
				h3
					font-size 1.5em
					color gris_letra
				.contacto__networking
					padding-top 1em
					a
						margin .7em
					img
						width 3em
						border-radius 10px
						
					
		.contenido__mail
			width 100%
			display block
			margin 0 auto
			text-align center
			padding-top 2em
			padding-bottom 2em
			label
				display block
				font-size 1.3em
				width 80%
				text-align left
				margin-left 10%
				padding-bottom .3em
				padding-top .7em
				color gris_letra
			input
				display block
				padding 1.2em
				border 1px solid #D0D0D0
				border-radius 20px
				margin 0 auto
				width 80%
				outline 0
				font-size 1em
			textarea
				padding 1.5em
				display block
				border-radius 20px
				border 1px solid #D0D0D0
				outline 0
				font-size 1em
				font-family 'Arial', sans-serif
				width 80%
				max-width 80%
				margin 0 auto
				
			p
				color gris_letra
				text-align left
				margin-left 10%
				
			.btn_enviar
				display block
				background #15DEFF
				color white
				border-radius 30px
				padding 1em
				font-size 1em
				margin 1.5em auto
				border-bottom 5px solid #1D90A2
				cursor pointer
				text-transform uppercase
				font-weight 600
				&:hover
					background #76e8fb
					border-bottom 5px solid #21ACC1

@media (min-width 768px)
	.contacto
		&__box
			max-width 1200px
		&__title
			width 100%
			h2
				font-size 3.2em
			p
				font-size 2em
		&__contenido
			width 100%
			display block
			.contenido__contacto
				display inline-block
				width 45%
				vertical-align middle
				.contacto__llamada
					h3
						font-size 2em
					a	
						font-size 1.6em
				.contacto__mail
					h3
						font-size 2em
					a	
						font-size 1.6em
				.contacto__redes
					h3
						font-size 2em
					.contacto__networking
						img
							width 3.8em
			.contenido__mail
				display inline-block
				width 45%
				vertical-align middle
				label
					width 53%
					margin-left 23%
				input
					width 53%
				textarea
					max-width 53%	
				p
					width 53%
					margin-left 23%
				.btn_enviar
					width 53%
					margin 1em auto

					