*
	margin 0
	padding 0
// variables
title_h2 = 2.5em
size_p = 1.7em
// colores
color__gris = #3A3A3A
gris__subtitulo = #464646
gris_titulo=#f4f5f6
gris_letra=#171717
celeste_cromlu=#36E3FF

html
	font-family 'Questrial' sans-serif
	color gris_letra
body
	background lightgray
	
@import 'header.styl'
@import 'portada.styl'
@import 'beneficios.styl'
@import 'convence.styl'
@import 'responsive.styl'
@import 'proceso.styl'
@import 'escoge.styl'
@import 'personalizado.styl'
@import 'confianza.styl'
@import 'plan.styl'
@import 'promocion-especial.styl'
@import 'contacto.styl'
@import 'footer.styl'
@import 'header_1.styl'
@import 'llamada_1.styl'
@import 'footer_1.styl'






