.personalizado
	background-image url(../image/estilo2.jpg)
	background-color #D4B297
	background-size cover
	background-repeat no-repeat
	padding-top 4em
	padding-bottom 4em
	&__box
		width 100%
		text-align center
		maring 0 auto
		padding-top 2em
		padding-bottom 2em
	&__title
		width 100%
		text-align center
		display block
		maring 0 auto
		h2
			font-size 3em
			color white
			font-weight 600
			text-shadow 1px 1px 2px #282828
		p
			font-size size_p
			color white
			text-shadow 1px 1px 1px #282828		
	&__actions
		width 100%
		text-align center
		display block
		maring 0 auto
		padding-top 2.5em
		a
			background rgba(24, 222, 255, 0.74)
			padding 1em
			font-size 1.3em
			color white
			text-decoration none
			border-radius 50px
			&:hover
				background celeste_cromlu

@media (min-width 768px)
	.personalizado
		&__box
			width 100%
			text-align center
			maring 0 auto
			padding-top 2em
			padding-bottom 3em
		&__title
			h2
				font-size 4em
				text-shadow 1px 1px 2px #282828
				color white
			p
				font-size 2em
		&__actions
			a
				padding 1em 1.5em
				font-size 1.5em