.Conviction
	height 750px
	whith 100%
	background url('../image/convence.jpg')
	background-color #BC9351 
	background-size cover
	background-repeat no-repeat
	&__box
		margin auto
		width 80%
		text-align center
		padding 3em 0
		h2
			text-shadow 1px 1px 2px #282828
			font-size 2.5em
			color white
			
	.video-content
		height 0
		padding-bottom 56.25%
		position relative
		overflow hidden
	iframe,
	object,
	embed,
	video
		width 100%
		height 100%
		position absolute
		right 0
		left 0

@media screen and (min-width 764px)
	.Conviction
		&__box
			width 70%
			h2
				font-size 3em