.plan
  background #f2f2f2
  padding-top 2em
  padding-bottom 1em
  &__box
    text-align center
    margin 0 auto
  &__title
    text-align center
    padding-bottom 1em
    h2
      font-size 2em
      color #3a3a3a
  &__sub-title
    text-align center
    margin 0 auto
    padding-bottom 1em
    .sub-title__ico
      display inline-block
      vertical-align middle
      margin-right .3em
    .numero-ico
      background #000
      width 30px
      height 30px
      -webkit-border-radius 50%
      border-radius 50%
      text-align center
      display inline-block
      color #fff
      font-size 1.5em
      line-height 30px
    h3
      font-size 1.6em
      display inline-block
      vertical-align middle
      color #1b1b1b
  &__paquetes
    text-align center
    width 90%
    margin 0 auto
    .paquetes__estandar
      display block
      width 100%
      margin-bottom 1em
      border 1px solid #d3d3d3
      -webkit-border-radius 6px
      border-radius 6px
      -webkit-box-shadow rgba(0, 0, 0, 0.2) 0 6px 20px
      box-shadow rgba(0, 0, 0, 0.2) 0 6px 20px
      .estandar__title
        background #2de2d3
        padding-top 1em
        padding-bottom 1em
        -webkit-border-radius 6px 6px 0 0
        border-radius 6px 6px 0 0
        h2
          color #fff
      .estandar__atributos
        background #fff
        padding-top 1.5em
        padding-bottom 1.5em
        ul
          text-align left
          padding-left 3.3em
          width 75%
          margin 0 auto
          li
            font-size 1.3em
            padding-bottom .5em
            color #2e2f33
      .estandar__precio
        background #69fff3
        padding-top 2em
        padding-bottom 2em
        -webkit-border-radius 0 0 6px 6px
        border-radius 0 0 6px 6px
        color #fff
        h2
          font-size 2.2em
          display inline-block
        span
          display inline-block
        p
          font-size 1em
          color #292929
          &-btn--action
          	color white
    .paquetes__premium
      display block
      width 100%
      border 1px solid #d3d3d3
      -webkit-border-radius 6px
      border-radius 6px
      .premium__title
        padding-top 1em
        padding-bottom 1em
        background #2ae475
        -webkit-border-radius 6px 6px 0 0
        border-radius 6px 6px 0 0
        h2
          color #fff
      .premium__atributos
        background #fff
        padding-top 1.5em
        padding-bottom 1.5em
        ul
          text-align left
          padding-left 3.3em
          width 75%
          margin 0 auto
          li
            font-size 1.3em
            padding-bottom .5em
            color #2e2f33
      .premium__condiciones
        background #feffcc
        padding-top 1em
        padding-bottom 1em
        p
          font-size 1em
          text-align left
          padding-left 15px
          padding-right 15px
      .premium__contacto
        background #59ff9c
        padding-top 1em
        padding-bottom 1em
        -webkit-border-radius 0 0 6px 6px
        border-radius 0 0 6px 6px
        color #fff
        h3
          font-size 2em
        p
          font-size 1.5em
          color #292929
  &__opcion
    // margin 1em
    width 30px
    height 30px
    border 1px solid black
    font-size 1.5em
    border-radius 50%
    line-height 30px
    display inline-block
    font-weight bold
  &__titlePaypal
    vertical-align middle
    display inline-block
    h2
      // font-size 1em
      display inline-block
      line-height 40px
      vertical-align top
  &__banco
    h2
      display inline-block
  &__tarjeta
    h2
      display inline-block
  &__form
    text-align left
    width 90%
    margin 0 auto
    label
      font-size 1.3em
    input
      box-sizing border-box
      width 100%
      margin .5em 0 1em 0
      padding .5em
      font-size 1.3em
      border-radius 5px
      outline 0
      border 1px solid gray
    .button
      width 100%
      border none
      font-weight bold
      background-color #008EC7
      border-bottom 4px solid #005E84 
      color white
      cursor pointer
      &:hover
        background-color #00C7FF
        border-bottom 4px solid #006886 
  &__paypal
    margin 4em auto
    width 90%
  &__paypalButton
    width 100%
  &__ayudaInfo
    color skyblue
  &__formPaypal
    margin 1.5em 0
    // display inline-block
    // flex-direction row
    .form_paypal
      width 200px
      display inline-block
      .bottomImage
        outline 0
        width 100%
        max-width 300px
    img
      margin-top .5em
      vertical-align top
      display inline-block
      width 50%
      max-width 200px
  &__titleB
    margin 1.5em 0
    
.promocion-especial
  background #f2f2f2
  &__box
    text-aligin center
    max-width 900px
    margin 0 auto
    padding-top 1em
    padding-bottom 2em
  &__contenido
    width 90%
    margin 0 auto
    .contenido__title
      background #69fff3
      width 100%
      padding-top .5em
      padding-bottom .5em
      h2
        text-align center
        font-size 2em
        color #fff
    .contenido__promo
      background #fff
      width 100%
      margin 0 auto
      text-align center
      padding-top 1em
      padding-bottom 1em
      .promo__smile
        display inline-block
        width 20%
        text-align center
        vertical-align middle
        img
          width 50px
      .promo__letra
        display inline-block
        width 70%
        text-align center
        vertical-align middle
        p
          font-size 1.4em
          text-align left

@media (min-width 768px)
	.plan__box
	  max-width 900px
	.plan__title
	  h2
	    font-size 3em
	.plan__sub-title
	  font-size 1.4em
	  .numero-ico
	    width 50px
	    height 50px
	    line-height 50px
	.plan__paquetes
	  .paquetes__estandar
	    display inline-block
	    vertical-align top
	    width 45%
	    margin-right 2em
	    .estandar__precio
	      h2
	        font-size 3em
	  .paquetes__premium
	    border 1px solid #d3d3d3
	    -webkit-border-radius 6px
	    border-radius 6px
	    display inline-block
	    vertical-align top
	    width 45%
	.plan__form
	  // text-align left
	  width 440px
	  input
	    width 100%
	  .button
	    width 100%
	    margin 0 auto
	.plan__formDiv
	  div
	    width 49%
	    display inline-block
	    &:first-child
	      margin-right .2em
	    input
	      width 100%
	.plan__paypalButton
	  margin 0 auto
	  max-width 440px
