section.Files
	.Files__box
		//- .Files__text
		//- 	h2.Files__title Archivos
		//- .Files__download
		.Files__botones
			.Files__download
				//- h3.Files__titleEnlaces Materiales
				.Files__titleEnlaces
					.Files__icon.icon-file-code 
					h3.Files__title Materiales
				.Files__buttonDownload
					a.Files__boton(href="https://github.com/mayconxhh/TVfy/archive/master.zip") Descargar
			.Files__link
				//- h3.Files__titleEnlaces Enlaces
				.Files__titleEnlaces
					.Files__icon.icon-link
					h3.Files__title Enlaces
				ul.Files__list
					li.Files__linkList
						a.Files__enlace(href='https://www.mongodb.org/', target="_blanck") MongoDB for GIANT Ideas | MongoDB
					li.Files__linkList
						a.Files__enlace(href='http://gulpjs.com/', target="_blanck") gulp.js - the streaming build system
					li.Files__linkList
						a.Files__enlace(href='https://nodejs.org/', target="_blanck") Node.js
					li.Files__linkList
						a.Files__enlace(href='https://learnboost.github.io/stylus/', target="_blanck") Stylus — expressive, robust, feature-rich CSS preprocessor