* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  font-family: 'Open+Sans', 'Arial', sans-serif;
  background: #fff;
  color: #2f2f2f;
}
.Header {
  -webkit-box-shadow: 0px 4px 3px rgba(0,0,0,0.24);
  box-shadow: 0px 4px 3px rgba(0,0,0,0.24);
  position: fixed;
  width: 100%;
  z-index: 9000;
}
.Header__mobile {
  white: 100%;
  display: block;
  background: #fff;
}
.Header__logo {
  display: inline-block;
  padding: 0.5em;
}
.Header__logo a {
  color: color__gris;
  text-decoration: none;
}
.Header__logo img {
  display: inline-block;
  width: 50px;
}
.Header__logo h1 {
  padding: 0.4em 0;
  vertical-align: top;
  display: inline-block;
  font-size: 1.5em;
  color: #3a3a3a;
}
.Header__icon-menu {
  cursor: pointer;
  padding: 1.4em 0.5em;
  float: right;
  display: inline-block;
}
.Header__icon-menu a {
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
  padding: 0.4em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #01e6d5;
}
.Header__desktop {
  background: #fff;
}
.Header__logo2 {
  padding-top: 0.3em;
  padding-left: 0.5em;
  display: none;
}
.Header__logo2 a {
  color: color__gris;
  text-decoration: none;
}
.Header__logo2 img {
  display: inline-block;
  width: 50px;
}
.Header__logo2 h1 {
  padding: 0.4em 0;
  vertical-align: top;
  display: inline-block;
  font-size: 1.5em;
  color: #3a3a3a;
}
.Header__nav {
  position: fixed;
  left: -100%;
  height: auto;
  width: 100%;
  background-color: #fff;
  text-align: center;
}
.Header__list:first-child {
  border-top: 1px solid #01e6d5;
}
.Header__botones {
  display: block;
  border-bottom: 1px solid #01e6d5;
}
.Header__botones a {
  font-size: 1.2em;
  padding: 1em 0.5em;
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #808080;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.Header__botones :hover {
  color: #fff;
  background-color: #01e6d5;
}
@media screen and (min-width: 764px) {
  .Header__mobile {
    display: none;
  }
  .Header__logo2 {
    margin-left: 1em;
    float: left;
    display: inline-block;
  }
  .Header__nav {
    height: auto;
    position: initial;
  }
  .Header__list {
    padding-right: 1.5em;
    text-align: right;
  }
  .Header__list:first-child {
    border-top: none;
  }
  .Header__botones {
    text-align: center;
    display: inline-block;
    border-bottom: none;
  }
  .Header__botones:last-child {
    margin-left: 1em;
  }
  .Header__botones:last-child a {
    max-width: 163px;
    margin: auto;
    color: #00e6d5;
    padding: 0.5em 1em;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #00e6d5;
  }
  .Header__botones:last-child a:hover {
    background-color: #01e6d5;
    color: #fff;
    border: 1px solid #01e6d5;
  }
}
@media screen and (min-width: 1000px) {
  .Header__botones a {
    padding: 1em 1em;
  }
  .Header__botones:last-child {
    margin: left 2em;
  }
}
.Temary {
  background-color: #f5f7f8;
  width: 100%;
  background-color: #fff;
}
.Temary__box {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0;
}
.Temary__content {
  width: 100%;
  max-width: 400px;
  margin: 1em auto 3em auto;
}
.Temary__list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 1em;
}
.Temary__list--title {
  text-align: center;
  font-size: 1.7em;
  margin-bottom: 0.5em;
}
.Temary__listContent--list {
  width: 100%;
}
.Temary__listContent--content {
  list-style: none;
  margin: 1em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.Temary__listContent--text {
  font-size: 1.3em;
}
.Temary__listContent--icon {
  margin-right: 0.5em;
  font-size: 1.3em;
}
.Temary__workshop {
  background-color: #efefef;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  display: block;
  padding: 0.5em;
}
.Temary__workshop--box {
  width: 100%;
}
.Temary__workshop--title {
  text-align: center;
  font-size: 1.7em;
  margin: 0.5em 0;
}
.Temary__workshop--logo {
  margin: 0.5em auto;
  width: 200px;
}
.Temary__workshop--image {
  width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.Temary__workshop--button {
  width: 90%;
  margin: 1em auto;
  text-align: center;
  background-color: #226fbe;
  border: 3px solid #226fbe;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Temary__workshop--button:hover {
  border: 3px solid #1b538c;
  background-color: #fff;
}
.Temary__workshop--button:hover a.Temary__workshop--actionButton {
  color: #1b538c;
}
.Temary__workshop--actionButton {
  display: block;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 767px) {
  .Temary__box {
    padding: 4em 0 1em 0;
    width: 90%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    max-width: 900px;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .Temary__content {
    margin: 0;
    width: 50%;
  }
  .Temary__workshop {
    margin: 0;
    width: 50%;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts-taller/icomoon.eot?v519fi");
  src: url("../fonts-taller/icomoon.eot?v519fi#iefix") format('embedded-opentype'), url("../fonts-taller/icomoon.ttf?v519fi") format('truetype'), url("../fonts-taller/icomoon.woff?v519fi") format('woff'), url("../fonts-taller/icomoon.svg?v519fi#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-notebook:before {
  content: "\e00a";
}
.icon-video:before {
  content: "\e011";
}
.icon-addressbook:before {
  content: "\e900";
}
.icon-feed:before {
  content: "\e901";
}
.icon-mic:before {
  content: "\e902";
}
.icon-checkbox-checked:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-youtube2:before {
  content: "\e905";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-live_tv:before {
  content: "\e639";
}
.icon-ondemand_video:before {
  content: "\e63a";
}
.icon-check_circle:before {
  content: "\e86c";
}
.Workshop {
  padding: 4em 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.Workshop__box {
  margin: 0 auto;
}
.Workshop__title {
  text-align: center;
  padding: 0.5em;
  font-size: 2em;
}
.Workshop__content {
  width: 100%;
}
.Workshop__contentBox {
  padding: 0.5em 0;
  max-width: 300px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 90%;
  margin: 1em auto 2em auto;
}
.Workshop__contentIcons {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.Workshop__contentIcons--live,
.Workshop__contentIcons--micro {
  font-size: 2.5em;
  margin: 0.5em 0.3em;
  color: #202020;
}
.Workshop__contentTitle--title {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em;
}
.Workshop__contentText--text {
  text-align: center;
  font-size: 1.2em;
  width: 90%;
  margin: 0.5em auto;
}
@media screen and (min-width: 767px) {
  .Workshop__contentBox {
    width: 45%;
    display: inline-block;
    margin: 1em 2%;
    vertical-align: top;
  }
}
@media screen and (min-width: 1000px) {
  .Workshop__contentBox {
    width: 21%;
    margin: 1em 1.8%;
  }
}
.Cover-Main {
  background: #9a9a9a;
  background-image: url("../image/cover.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
.Cover-Main__box {
  padding-top: 8em;
  padding-bottom: 2em;
}
.Cover-Main__Curso {
  display: block;
  padding-top: 2em;
  padding-bottom: 3em;
}
.Cover-Main__Curso .Curso--logo {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1em;
}
.Cover-Main__Curso .Curso--logo img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.Cover-Main__Curso .Curso--copy {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.Cover-Main__Curso .Curso--copy h1 {
  font-size: 2em;
  color: #fff;
}
.Cover-Main__Curso .Curso--copy p {
  font-size: 1.2em;
  color: #fff;
  text-align: left;
  padding: 15px;
}
.Cover-Main__Curso .Curso--copy a {
  display: block;
  background-color: #ffc000;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 1em;
  margin: 2em auto;
  max-width: 300px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #fff;
  font-size: 1.5em;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Cover-Main__Curso .Curso--copy a:hover {
  background-color: #fff;
  border: 3px solid #ffc000;
  color: #ffc000;
}
.Cover-Main__Video {
  display: block;
  background: #000;
}
.Cover-Main__Video .Video--box {
  display: block;
}
.Cover-Main__Video .Video--box .video-content {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}
.Cover-Main__Video .Video--box iframe,
.Cover-Main__Video .Video--box object,
.Cover-Main__Video .Video--box embed,
.Cover-Main__Video .Video--box video {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
}
@media (min-width: 768px) {
  .Cover-Main {
    text-align: center;
    margin: 0 auto;
  }
  .Cover-Main__Curso {
    display: block;
  }
  .Cover-Main__Curso .Curso--logo {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }
  .Cover-Main__Curso .Curso--copy {
    display: inline-block;
    width: 69%;
    text-align: left;
    vertical-align: middle;
  }
  .Cover-Main__Curso .Curso--copy h1 {
    font-size: 2.5em;
  }
  .Cover-Main__Curso .Curso--copy p {
    font-size: 1.2em;
  }
  .Cover-Main__Curso .Curso--copy a {
    text-align: center;
    margin: 1em 1em;
    width: 190px;
    font-size: 1.3em;
  }
  .Cover-Main__Video {
    display: block;
    width: 600px;
    text-align: center;
    margin: 0 auto;
  }
}
@media (min-width: 927px) {
  .Cover-Main {
    text-align: center;
    margin: 0 auto;
  }
  .Cover-Main__Curso {
    display: inline-block;
    width: 474px;
    vertical-align: middle;
  }
  .Cover-Main__Video {
    display: inline-block;
    width: 431px;
    vertical-align: middle;
  }
}
@media (min-width: 1200px) {
  .Cover-Main {
    text-align: center;
    margin: 0 auto;
  }
  .Cover-Main__Curso {
    display: inline-block;
    width: 649px;
    vertical-align: middle;
  }
  .Cover-Main__Video {
    display: inline-block;
    width: 427px;
    vertical-align: middle;
    margin-right: 1.5em;
  }
}
.Learn-about__box {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
}
.Learn-about__box h2 {
  font-size: 1.5em;
}
.Learn-about__item {
  display: inline-block;
  margin: 1.5em;
  margin-bottom: 2em;
}
.Learn-about__item h3 {
  font-size: 1.3em;
  padding-top: 0.5em;
}
@media (min-width: 768px) {
  .Learn-about h2,
  __box h2 {
    font-size: 2em;
  }
}
.Data-Time {
  background: #ececec;
}
.Data-Time__box {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
.Data-Time__Day {
  background: #e4e4e4;
  padding: 2em;
  display: block;
  vertical-align: middle;
  margin: 1em;
}
.Data-Time__Day p {
  font-size: 1.5em;
}
.Data-Time__Day .Day--box-day {
  background: #fff;
  display: block;
  padding: 1em 3em;
  margin: 1em;
  vertical-align: middle;
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,0.18) 1px 1px 20px;
  box-shadow: rgba(0,0,0,0.18) 1px 1px 20px;
}
.Data-Time__Day .Day--box-day h4 {
  font-size: 1.4em;
}
.Data-Time__Day .Day--box-day h2 {
  font-size: 2.2em;
}
.Data-Time__Day .Day--box-day h3 {
  font-size: 1.5em;
}
.Data-Time__Day .Day--box-time {
  display: block;
  margin: 1em;
  padding: 1em;
  vertical-align: middle;
}
.Data-Time__Day .Day--box-time .box--time__top {
  display: block;
  padding: 0.5em;
}
.Data-Time__Day .Day--box-time .box--time__top .top-time {
  display: inline-block;
  padding: 0.1em;
  background: #f9f6f6;
  padding: 0.5em;
  margin: 0.2em;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.Data-Time__Day .Day--box-time .box--time__top .top-time h2 {
  display: inline-block;
  font-size: 2em;
}
.Data-Time__Day .Day--box-time .box--time__top .top-time label {
  display: block;
}
.Data-Time__Day .Day--box-time .box--time__top p {
  display: inline-block;
  vertical-align: top;
  padding-top: 0.2em;
}
.Data-Time__Day .Day--box-time .box--time__bottom {
  display: block;
  padding: 0.5em;
  font-size: 0.7em;
}
.Data-Time__Week {
  background: #e4e4e4;
  display: block;
  vertical-align: middle;
  padding: 2em;
  border: 1px solid #000;
  margin: 1em;
}
.Data-Time__Week h2 {
  font-size: 1.5em;
}
.Data-Time__Week .Week--days {
  padding-top: 0.5em;
}
.Data-Time__Week .Week--days .week--day-class {
  display: inline-block;
  background: #f1f1f1;
  padding: 1em;
  margin: 0.2em;
h2
}
@media (min-width: 400px) {
  .Data-Time__Day .Day--box-time .box--time__top {
    padding: 0.3em;
  }
  .Data-Time__Day .Day--box-time .box--time__top .top-time {
    display: inline-block;
    padding: 0.5em;
  }
}
@media (min-width: 768px) {
  .Data-Time__Day {
    display: inline-block;
    vertical-align: middle;
  }
  .Data-Time__Day p {
    font-size: 2em;
  }
  .Data-Time__Day .Day--box-day {
    display: inline-block;
    vertical-align: middle;
    padding: 2em;
  }
  .Data-Time__Day .Day--box-day h4 {
    font-size: 1.7em;
  }
  .Data-Time__Day .Day--box-day h2 {
    font-size: 3.3em;
  }
  .Data-Time__Day .Day--box-day h3 {
    font-size: 2em;
  }
  .Data-Time__Day .Day--box-time {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 3em;
  }
  .Data-Time__Day .Day--box-time .box--time__top .top-time {
    display: inline-block;
  }
  .Data-Time__Day .Day--box-time .box--time__top .top-time h2 {
    font-size: 2.5em;
  }
  .Data-Time__Day .Day--box-time .box--time__top .top-time label {
    font-size: 1.5em;
  }
  .Data-Time__Day .Day--box-time .box--time__top p {
    font-size: 2.5em;
  }
  .Data-Time__Week {
    display: inline-block;
    vertical-align: middle;
  }
  .Data-Time__Week h2 {
    font-size: 1.9em;
  }
  .Data-Time__Week .Week--days .week--day-class {
    display: inline-block;
    padding: 1em;
    margin: 0.2em;
  }
  .Data-Time__Week .Week--days .week--day-class p {
    font-size: 1.3em;
  }
}
.Banner {
  background-color: #02607c;
  background-image: url("../image/banner.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 3em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Banner__box {
  width: 90%;
  margin: 0 auto;
}
.Banner__title {
  width: 100%;
}
.Banner__title--text {
  color: #fff;
  font-size: 2em;
  text-align: center;
}
.Banner__content {
  width: 100%;
}
.Banner__content .Day--box-time {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}
.Banner__content .Day--box-time p {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}
.Banner__content .Day--box-time .box--time__top {
  text-align: center;
  padding: 0.5em;
}
.Banner__content .Day--box-time .box--time__top .top-time {
  display: inline-block;
  padding: 0.1em;
  background: #f9f6f6;
  margin: 0.2em;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.Banner__content .Day--box-time .box--time__top .top-time h2 {
  display: inline-block;
  font-size: 1.5em;
}
.Banner__content .Day--box-time .box--time__top .top-time label {
  display: block;
}
.Banner__content .Day--box-time .box--time__top p {
  font-size: 1.4em;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  padding-top: 0.2em;
}
.Banner__content .Day--box-time .box--time__bottom {
  display: block;
  padding: 0.5em;
  font-size: 0.7em;
}
.Banner__logo {
  width: 90%;
  margin: 2em auto 1em auto;
  text-align: center;
}
.Banner__logo--image {
  max-width: 150px;
  width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.Banner__button {
  width: 80%;
  max-width: 200px;
  cursor: pointer;
  margin: 2em auto;
  padding: 1em;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #2ecc71;
  border: 3px solid #fff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.Banner__button--link {
  text-align: center;
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.Banner__button:hover {
  border: 3px solid #2ecc71;
  background-color: #fff;
}
.Banner__button:hover a {
  color: #2ecc71;
}
@media screen and (min-width: 767px) {
  .Banner {
    padding: 1.5em 0;
  }
  .Banner__box {
    max-width: 800px;
    width: 100%;
  }
  .Banner__content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .Banner__content .Day--box-time {
    width: 33%;
  }
  .Banner__logo {
    margin: 0;
    width: 33%;
  }
  .Banner__button {
    height: 28px;
    width: 33%;
  }
}
.Footer-Main {
  text-align: center;
  padding: 2em 0;
  background-color: #0a192b;
  width: 100%;
}
.Footer-Main__box {
  width: 100%;
}
.Footer-Main__box p {
  color: #fff;
}
.Footer-Main__box p a {
  text-decoration: none;
  color: #fff;
}
