doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1")
		meta(name="description",content="Aprende Git y Github con nosotros @TeamCromlu")
		title Cromlu: Curso de Git y Github
		link(rel="stylesheet",href="./css/style.css")
		link(rel="icon",type="image/png",href="../image/cromlu.ico")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway",rel="stylesheet",type="text/css")

	body
		include ./header/template.jade
		.body
			include ./themeGit/template.jade
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(type="text/javascript",src="../js/code.js")
