doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Cromlu: Tu propio portafolio profesional en la web 24/7 @TeamCromlu
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway', rel='stylesheet', type='text/css')
    meta(name='description', content='Diseñamos tu propio portafolio profesional en la web 24/7 de forma efectiva, Comparte tu experiencia profesional en un solo lugar, donde quieras y cuando quieras @TeamCromlu')
    link(rel='icon', type='image/png', href='send/image/cromlu.ico')
    // Vista para facebook
    meta(property='og:title', content='Cromlu: Tu propio portafolio profesional en la web 24/7')
    meta(property='og:description', content='Comparte tu experiencia profesional en un solo lugar, donde quieras y cuando quieras @TeamCromlu')
    meta(property='og:image', content='http://cromlu.com/comprar.png')
    meta(property='og:url', content='http://cromlu.com/comprar')
    link(rel='stylesheet', href='./css/login/estilo2.css')
    link(rel="stylesheet", href="css/admin.css")
  body
    header.Header-Main
      .Header-Main__box
        figure.Header-Main__logo
          a(href='/')
            img(src='image/cromlu.png', alt='')
            h1 Cromlu
    section.Networking 
     .Networking__box
       h2 Ingresa a tus clases
       a(href="auth/facebook", class="color-facebook") Facebook
       a(href="auth/twitter", class="color-twitter") Twitter
       .Networking_politic-private
         p Tu privacidad esta segura
         a(class="link-privacidad", href="/politicas-seguridad") Politicas de Privacidad
       p Tu cuenta no esta registrada, adquiere el curso y te eseñaremos las mejores tecnicas para tus proyectos reales ;) 
          a(href="/", class="ingresa-curso") Ingresa al curso
       p Si algo fallo, contactanos a web@cromlu.com
