<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Panel de usuarios
	link(rel="stylesheet", href="css/admin.css")
body
	h2 Hola y bienvenido #{master}
	a(href="/admin/usuarios/") Administrar Usuarios
	a(href="/admin/usuaarios/crear/") Crear nuevo usuario