doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Cromlu: Tu propio portafolio profesional en la web 24/7 @TeamCromlu
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway', rel='stylesheet', type='text/css')
    meta(name='description', content='Diseñamos tu propio portafolio profesional en la web 24/7 de forma efectiva, Comparte tu experiencia profesional en un solo lugar, donde quieras y cuando quieras @TeamCromlu')
    link(rel='icon', type='image/png', href='send/image/cromlu.ico')
    // Vista para facebook
    meta(property='og:title', content='Cromlu: Tu propio portafolio profesional en la web 24/7')
    meta(property='og:description', content='Comparte tu experiencia profesional en un solo lugar, donde quieras y cuando quieras @TeamCromlu')
    meta(property='og:image', content='http://cromlu.com/comprar.png')
    meta(property='og:url', content='http://cromlu.com/comprar')
    link(rel='stylesheet', href='./css/login/estilo2.css')
    link(rel="stylesheet", href="css/admin.css")
  body
    header.Header-Main
      .Header-Main__box
        figure.Header-Main__logo
          a(href='/')
            img(src='image/cromlu.png', alt='')
            h1 Cromlu
    section.Content-private
      h2 POLÍTICA DE PRIVACIDAD

      p Bienvenido a cursos.cromlu.com, un servicio en Internet proveído por Cromlu.com en la cual le brindamos educación online. Nosotros respetamos su privacidad y queremos que sepa qué información recolectamos sobre usted y qué hacemos con esa información. La siguiente Política de Privacidad fue creada para ayudarlo a entender cómo será usada la información que usted provee a cursos.cromlu.com. Esta Política de Privacidad aplica para toda la información que recolectamos sobre usted. 


      h3 INFORMACIÓN QUE RECOLECTAMOS

      p Información de Registro. No se requiere que usted nos dé a nosotros ningún tipo de información personal, para acceder a nuestro Website, ni para ver la información que proveemos generalmente en nuestro Website. No es necesario registrarse con un formulario para acceder a nuestra Website, sí es necesario conectar cuentas de redes sociales para tener acceso a la plataforma, en las cual podras ver las clases exclusivas grabadas, las clases en vivo segun la temporada y horario, y podras participar en los chats. En caso de querer participar en un curso necesitaremos sus datos personales para el registro en cada curso así como ser redireccionado a algún medio de pago (Paypal) para realizar el pago respectivo. En otros momentos, puede que también se le pida que nos provea información adicional, como su edad, género, y otra información personal para que usted reciba información adicional de nuestros servicios a futuro.

      p En cursos.Cromlu.com necesitamos esta información para conocerlo mejor, ayudarlo a entender nuevos servicios, programas y ofertas en las cuales usted pueda estar interesado y así mejorar su experiencia online.

      p Recolección Automática de Datos. Usted podrá visitar nuestra Website y usar ciertos de nuestros servicios de manera anónima. En cursos.Cromlu.com podremos recolectar información concerniente al tipo de Navegador de Internet que usted usa, el tipo de computadora o sistema operativo que usted usa, su dirección de IP (pública la cual es accesible desde cualquier forma y sin comprometer vinculos de seguridad, solo usado para coneción y servicios), la velocidad de su conexión (para darle calidad en trasmisión de video), la localidad geográfica de dónde usted esta accediendo a nuestros servicios y/o la Website o propaganda de donde usted se conectó a nuestro Website. Una vez que se haya registrado con nosotros, también rastreamos y recolectamos información sobre usted incluyendo sus transacciones con nosotros, nuestros afiliados, u otros, y los patrones que siguió usted al usar nuestra Website, como las páginas de la Website que usted visitó, búsquedas que condujo, y el tiempo que usted estuvo en nuestra Website. Si decide contactarnos, podremos guardar un historial de su correspondencia.

      p Cookies. Cuando usted visita nuestra Website o pulsa cualquier hipervínculo que aparece en ella, o usa uno o más de nuestros servicios, podremos usar una tecnología industrial llamada "cookies", "LocalStorage", "SessionStorage" la cual almacena cierta información en su computadora y que nos permitirá personalizar su experiencia para alinearla con sus intereses y preferencias o simplemente facilitar su acceso al usar nuestros servicios. La mayoría de los Navegadores permitirán que usted elimine o bloquee las "cookies" de su computador o su disco duro o alertará las mismas cuando estas se activen. Por favor refiérase a las instrucciones de su Navegador para ayuda o para conocer mejor sus funciones. Por favor note, sin embargo, que si usted bloquea de su Navegador el uso de estos cookies, el servicio no podrá ser utilizado o no podrá acceder a nuestra Website o quizás pueda afectar el funcionamiento de la página como tal.

      h3 LO QUE HACEMOS CON SU INFORMACIÓN

      p En general, Cursos.Cromlu.com podrá usar información sobre usted para proporcionar y mejorar El Servicio. Cursos.Cromlu.com podrá compartir esta información con los proveedores del servicio sobre contenido, afiliados y otras entidades de forma no-personal para estudios demográficos e información preferencial para los usuarios del servicio o para otros propósitos. Esta información podrá incluir el uso y la data demográfica, pero No incluirá información personal (tal como su dirección de correo electrónico).

      p Si usted provee a Cursos.Cromlu.com con información personal, tomaremos razonados y apropiados pasos para proteger esta información. Excepto conforme está descrito en esta Política de Privacidad, Cursos.Cromlu.com no revelará, compartirá, venderá ni rentará información personal recolectada en nuestra Website a terceros para su uso promocional sin su consentimiento a menos que sea para un programa específico al que le podrá pedirnos no participar. Si usted solicita recibir información de nuestros afiliados al seleccionar esta opción en el futuro, podremos compartir su información de registro e información acerca de sus transacciones en nuestro servicio con los estudios y/o nuestros afiliados. Si usted accede a nuestros servicios a través de una versión afiliada de nuestra Website que contenga un aviso que esa información será compartida con dicho afiliado la cual aparecerá bajo el nombre de la Website afiliada, cualquier información personal o no-personal será compartida con dicha Website afiliada. Cualquier uso de esa información de parte de Cursos.Cromlu.com será sujeto a esta Política de Privacidad, y cualquier uso de dicha información por un afiliado estará sujeto a esta Política de Privacidad y la Política de Privacidad del afiliado. Nosotros no compartimos la información de sus cuentas de tarjetas de crédito con redes afiliadas ni ningún otro tercero, excepto al servicio de procesamiento de tarjetas de crédito descritos abajo.

      p Para mantenerlo informado sobre nuestros servicios, podríamos enviar correos electrónicos y anuncios que son necesarios para la administración de nuestro Website y El Servicio. También podríamos proveer a nuestros usuarios con la opción de unirse a nuestra lista de correos electrónicos para recibir información adicional sobre nuestra Website, servicios y ofertas, incluyendo las de Cursos.Cromlu.com, o sus afiliados.

      h3 SEGURIDAD

      p Usamos métodos razonables de seguridad para proteger la data que reside en nuestros servidores. Sin embargo, ningún sistema de seguridad es impenetrable, debido a esto, no le podemos garantizar la seguridad de nuestros servidores. Es también posible que la información que usted nos provea pueda ser interceptada durante la transmisión de datos.

      p Sus datos personales, brindandos por la red sociales asociada, solo nos permite usar sus datos publicos, de los cuales usaremos: su avatar publico, y su nombre publico, los cuales son necesarios para acceder a las clases en vivo y las grabadas, además de usar el chat online. Esta información es permitida por la red social asociada, por medio de un sistema seguro en el servidor, al cual ud autoriza cuando su red social asociada le dice que accederemos a esos datos, los cuales son necesarios. Sus datos personales estan protegidos los su red sociales, y no accederemos a ellos sin su permiso, en toda coso si ud lo desea, podra brindad información adicional de forma manual internamente o cambiar sus datos y contraseñas en futuras versiones, siempre con su permiso. En Cursos.Cromlu.com solo usamos su fotografia de perfil publico y su nombre publico, los cuales guardaremos en nuestra base de datos para darle acceso recurrente. Su acceso podra ser guardado localmente en su navegador y memoria de su computador por "cookie", "LocalStorage", "SessionStogare" estandares web para recordar su acceso (tal como cuando usas tu red social favorita y cierra la ventana sin cerrar session e incluso despues de apagar el computador puedes ingresar sin digitar correo, ni contraseña, tal cual). 

      p Para ayudarle a proteger la información de su cuenta de Cursos.Cromlu.com, por favor mantenga su contraseña segura. Su contraseña se mantendrá en nuestro sistema de forma codificada ya que Cursos.Cromlu.com comprende que su privacidad es muy importante. Cursos.Cromlu.com generara una nueva contraseña en caso de que a usted se le olvide y se la enviara a su correo electrónico. Esto no afectara su perfil de ninguna manera. Le sugerimos que escoja una contraseña no-obvia que contenga números y letras. Además, le recomendamos que no divulgue su contraseña a nadie. Ultimamente, usted es responsable por mantener en secreto su contraseña y su información de su cuenta de Cursos.Cromlu.com.

      p La Política de Privacidad de Cursos.Cromlu.com no se extiende a nada inherente en la operación de Internet, por lo tanto más lejos del control de Cursos.Cromlu.com, y no se aplicará de ninguna manera contraria a la ley o los reglamentos del gobierno.

      h3 NIÑOS Y MENORES DE 13 AÑOS

      p En cumplimiento del Acta Federal de 1998 para la Privacidad On-line y la Protección de Niños (COPPA), no pediremos conscientemente información personal de ninguna persona menor a trece (13) años sin el consentimiento de sus padres. Cualquier persona que nos proporciona este tipo de información representa que tiene 13 o más años de edad.

      h3 COMO CONTACTARNOS

      p Si tiene alguna pregunta sobre esta Política de Privacidad, por favor contáctenos. Si quisiera contactar a Cursos.Cromlu.com por alguna otra razón, contáctenos por mail a web@cromlu.com, o visite nuestra página Cursos.Cromlu.com o Cromlu.com