<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Login Admin
  link(rel="stylesheet", href="css/admin.css")
body
  .admin
    h1 Estas a punto de aprender y dominar las mejores tecnologias :)
    form(action="/register_new_user_token5985555213BMDX?serial=45bMFFGS44FDZ12", method="post")
      label Ingresa tu nombre
      input(type="text", name="usuario", required)
      label Ingresa el codigo serial
      input(type="text", name="serial", required)
      input(type="submit", name="enviar")