doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Cromlu: Tu propio portafolio profesional en la web 24/7 @TeamCromlu
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    // fuentes
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway', rel='stylesheet', type='text/css')
    meta(name='description', content='Diseñamos tu propio portafolio profesional en la web 24/7 de forma efectiva, Comparte tu experiencia profesional en un solo lugar, donde quieras y cuando quieras @TeamCromlu')
    // Favicom
    link(rel='icon', type='image/png', href='send/image/cromlu.ico')
    // Vista para facebook
    meta(property='og:title', content='Cromlu: Tu propio portafolio profesional en la web 24/7')
    meta(property='og:description', content='Comparte tu experiencia profesional en un solo lugar, donde quieras y cuando quieras @TeamCromlu')
    meta(property='og:image', content='http://cromlu.com/comprar.png')
    meta(property='og:url', content='http://cromlu.com/comprar')
    // link para css
    link(rel='stylesheet', href='/send/css/estilo2.css')
  body
    header.Header-Main
      .Header-Main__box
        figure.Header-Main__logo
          a(href='/')
            img(src='/send/image/cromlu.png', alt='')
            h1 Cromlu
          strong +
        figure.Header_Main__sublogo
          a(href='http://www.paypal.com')
            img.paypal(src='/comprar/image/paypal.png', height='50', width='100', alt='')
    section.happy
      .happy__box
        h2
          | !Pago Exitoso! 
          span #{name}
          |  , Gracias por confiar en nosotros :D
        p.mensaje
          | Te enviaremos un email a tu correo de paypal asociado para empezar
          strong #{email}
          br
          | 			porfavor revisa tu bandeja de correo e-mail y comencemos ;)
        h4
          | *si no llega, porfavor revisa en la zona de spam 
          br
          | 			**también puedes escribirnos directamente a web@cromlu.com
        a(href='/') Volver a Cromlu
