* {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Questrial' sans-serif;
  color: #171717;
}
body {
  background: #d3d3d3;
}
.Header {
  box-shadow: 0px 4px 3px rgba(0,0,0,0.24);
  position: fixed;
  width: 100%;
  z-index: 9000;
}
.Header__mobile {
  white: 100%;
  display: block;
  background: #fff;
}
.Header__logo {
  display: inline-block;
  padding: 0.5em;
}
.Header__logo a {
  color: #3a3a3a;
  text-decoration: none;
}
.Header__logo img {
  display: inline-block;
  width: 50px;
}
.Header__logo h1 {
  padding: 0.4em 0;
  vertical-align: top;
  display: inline-block;
  font-size: 1.5em;
}
.Header__icon-menu {
  cursor: pointer;
  padding: 1.4em 0.5em;
  float: right;
  display: inline-block;
}
.Header__icon-menu a {
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
  padding: 0.4em;
  border-radius: 5px;
  background-color: #01e6d5;
}
.Header__desktop {
  background: #fff;
}
.Header__logo2 {
  padding-top: 0.3em;
  padding-left: 0.5em;
  display: none;
}
.Header__logo2 a {
  color: #3a3a3a;
  text-decoration: none;
}
.Header__logo2 img {
  display: inline-block;
  width: 50px;
}
.Header__logo2 h1 {
  padding: 0.4em 0;
  vertical-align: top;
  display: inline-block;
  font-size: 1.5em;
}
.Header__nav {
  position: fixed;
  left: -100%;
  height: auto;
  width: 100%;
  background-color: #fff;
  text-align: center;
}
.Header__list:first-child {
  border-top: 1px solid #01e6d5;
}
.Header__botones {
  display: block;
  border-bottom: 1px solid #01e6d5;
}
.Header__botones a {
  font-size: 1.2em;
  padding: 1em 0.5em;
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #808080;
  transition: 0.2s;
}
.Header__botones :hover {
  color: #fff;
  background-color: #01e6d5;
}
@media screen and (min-width: 764px) {
  .Header__mobile {
    display: none;
  }
  .Header__logo2 {
    margin-left: 1em;
    float: left;
    display: inline-block;
  }
  .Header__nav {
    height: auto;
    position: initial;
  }
  .Header__list {
    padding-right: 1.5em;
    text-align: right;
  }
  .Header__list:first-child {
    border-top: none;
  }
  .Header__botones {
    text-align: center;
    display: inline-block;
    border-bottom: none;
  }
  .Header__botones:last-child {
    margin-left: 1em;
  }
  .Header__botones:last-child a {
    max-width: 163px;
    margin: auto;
    color: #00e6d5;
    padding: 0.5em 1em;
    border-radius: 50px;
    border: 1px solid #00e6d5;
  }
  .Header__botones:last-child a:hover {
    background-color: #01e6d5;
    color: #fff;
    border: 1px solid #01e6d5;
  }
}
@media screen and (min-width: 1000px) {
  .Header__botones a {
    padding: 1em 1em;
  }
  .Header__botones:last-child {
    margin: left 2em;
  }
}
.Front {
  padding: 7em 0;
  background: url("../image/portada.jpg");
  background-color: #e0ac65;
  background-size: cover;
  background-repeat: no-repeat;
}
.Front__box {
  text-align: center;
}
.Front__text h2 {
  font-family: 'Raleway' sans-serif;
  padding: 0.5em 0;
  font-size: 2em;
  color: #fff;
}
.Front__text p {
  font-size: 1.3em;
  color: #fff;
}
.Front__botoncito {
  padding-top: 5em;
  text-align: center;
  margin: 0 auto;
}
.Front__botoncito a {
  font-weight: bold;
  padding: 0.7em 0.5em;
  font-size: 1.8em;
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  background-color: rgba(0,210,196,0.71);
  display: block;
}
.Front__botoncito a:hover {
  color: #fff;
  border: 2px solid #fff;
  background-color: rgba(0,230,213,0.87);
}
@media screen and (min-width: 321px) {
  .Front__box {
    margin: auto;
    width: 66%;
  }
}
@media screen and (min-width: 764px) {
  .Front {
    padding: 11.7% 0;
  }
  .Front__text h2 {
    font-size: 3.4em;
  }
  .Front__text p {
    margin: auto;
    width: 66%;
    font-size: 1.9em;
  }
  .Front__botoncito a {
    display: initial;
  }
}
.Benefit {
  background: #fff;
  padding-top: 6em;
}
.Benefit__text {
  text-align: center;
  margin: auto;
  width: 90%;
}
.Benefit__text h2 {
  color: #3a3a3a;
  font-size: 2em;
}
.Benefit__text p {
  color: #464646;
  font-size: 1.4em;
  padding-top: 0.5em;
}
.Benefit__art {
  padding: 2em 0;
}
.Benefit__cajas {
  border-radius: 25px;
  text-align: center;
  vertical-align: top;
}
.Benefit__cajas p {
  color: #585858;
}
.Benefit__cajas figure img {
  width: 200px;
  border-radius: 50%;
}
.Benefit__cajas .text {
  margin: 1.5em 0;
}
.Benefit__cajas .text h3 {
  margin: 1em 0;
  font-size: 1.5em;
}
@media screen and (min-width: 321px) {
  .Benefit__art {
    text-align: center;
    margin: auto;
    width: 90%;
  }
  .Benefit__cajas {
    margin: 0.5em 2em 0.5em 2em;
    display: inline-block;
    max-width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .Benefit__cajas {
    margin: 0 5%;
    width: 200px;
  }
  .Benefit__cajas .text p {
    font-size: 1.2em;
    color: #585858;
  }
  .Benefit__text h2 {
    font-size: 3.2em;
  }
  .Benefit__text p {
    font-size: 2em;
  }
}
.Convince {
  height: 300px;
  background: url("../image/pexel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.Convince__box {
  padding: 5em 0;
  margin: auto;
  text-align: center;
  width: 90%;
}
.Convince__box h2 {
  text-shadow: 1px 1px 2px #000;
  color: #fff;
  font-size: 3em;
}
@media screen and (min-width: 764px) {
  .Convince {
    height: 300px;
  }
  .Convince__box {
    padding: 7em 0;
  }
  .Convince__box h2 {
    font-size: 4em;
  }
}
.Conviction {
  height: 750px;
  whith: 100%;
  background: url("../image/convence.jpg");
  background-color: #bc9351;
  background-size: cover;
  background-repeat: no-repeat;
}
.Conviction__box {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 9em 0;
}
.Conviction__box h2 {
  text-shadow: 1px 1px 2px #282828;
  font-size: 2.5em;
  color: #fff;
}
@media screen and (min-width: 764px) {
  .Conviction__box {
    width: 70%;
  }
  .Conviction__box h2 {
    font-size: 3.5em;
  }
}
.Process {
  padding-bottom: 3em;
  padding-top: 4em;
  background-color: #fff;
}
.Process__box {
  margin: auto;
  text-align: center;
  width: 90%;
}
.Process__text {
  padding: 1em 0;
}
.Process__text h2 {
  color: #3a3a3a;
  font-size: 2.5em;
}
.Process__arts {
  width: 100%;
  margin: auto;
  padding: 1em 0;
}
.Process__cajas {
  margin: 1em 0.5em;
  max-width: 300px;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.Process__cajas h3 {
  color: #464646;
  padding: 0.5em;
  font-size: 1.7em;
}
.Process__cajas img {
  width: 230px;
  border-radius: 50%;
}
.Process__cajas h4 {
  margin: auto;
  width: 85%;
  padding-top: 2em;
  font-size: 1.2em;
}
.Process__cajas p {
  margin: auto;
  width: 85%;
  padding: 1em 0.5em;
  color: #484848;
}
@media screen and (min-width: 764px) {
  .Process {
    padding: 3em 0;
  }
  .Process__text h2 {
    font-size: 3.5em;
  }
  .Process__cajas h4 {
    font-size: 1.3em;
  }
  .Process__cajas p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1000px) {
  .Process__cajas {
    margin: 0 0.5em;
    width: 22%;
  }
  .Process__cajas img {
    width: 60%;
  }
}
.escoge {
  overflow: hidden;
  background: #fff;
}
.escoge__box {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 6em;
  padding-bottom: 2em;
}
.escoge__title {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.escoge__title h2 {
  font-size: 2.5em;
  color: #3a3a3a;
}
.escoge__title p {
  font-size: 1.7em;
  color: #464646;
}
.escoge__modelos {
  display: block;
  width: 100%;
  padding-top: 1em;
}
.escoge__modelos .modelos--item {
  margin-top: 2em;
  display: block;
  width: 100%;
  position: relative;
}
.escoge__modelos .modelos--item h3 {
  color: #171717;
}
.escoge__modelos .modelos--item figure {
  width: 100%;
  padding-top: 0.8em;
}
.escoge__modelos .modelos--item figure img {
  max-width: 90%;
}
.escoge__modelos .modelos--item figure img:hover {
  background: #61402c;
  box-shadow: #ff5200 0px 0px 28px;
}
.escoge__modelos--ver {
  position: absolute;
  top: 50%;
  background: rgba(0,195,177,0.66);
  color: #fff;
  padding: 0.8em;
  width: 90px;
  display: block;
  margin: 0 auto;
  right: 0;
  left: 0;
  text-decoration: none;
}
.escoge__modelos--ver:hover {
  padding: 1.2em;
  background: rgba(0,195,177,0.92);
  transition: 0.2s;
}
@media (min-width: 768px) {
  .escoge {
    padding: 0;
  }
  .escoge__box {
    width: 100%;
    text-align: center;
    magin: 0 auto;
  }
  .escoge__title {
    display: block;
    width: 100%;
  }
  .escoge__title h2 {
    font-size: 3.2em;
  }
  .escoge__title p {
    font-size: 2em;
  }
  .escoge__modelos {
    display: block;
    width: 100%;
  }
  .escoge__modelos .modelos--item {
    margin-top: 2em;
    display: inline-block;
    width: 45%;
  }
}
@media (min-width: 1000px) {
  .escoge__box {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .escoge__title {
    display: block;
    width: 100%;
  }
  .escoge__modelos {
    width: 100%;
    display: block;
  }
  .escoge__modelos .modelos--item {
    display: inline-block;
    width: 30%;
  }
}
.personalizado {
  background-image: url("../image/estilo2.jpg");
  background-color: #d4b297;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 4em;
  padding-bottom: 4em;
}
.personalizado__box {
  width: 100%;
  text-align: center;
  maring: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
}
.personalizado__title {
  width: 100%;
  text-align: center;
  display: block;
  maring: 0 auto;
}
.personalizado__title h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 2px #282828;
}
.personalizado__title p {
  font-size: 1.7em;
  color: #fff;
  text-shadow: 1px 1px 1px #282828;
}
.personalizado__actions {
  width: 100%;
  text-align: center;
  display: block;
  maring: 0 auto;
  padding-top: 2.5em;
}
.personalizado__actions a {
  background: rgba(24,222,255,0.74);
  padding: 1em;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
}
.personalizado__actions a:hover {
  background: #36e3ff;
}
@media (min-width: 768px) {
  .personalizado__box {
    width: 100%;
    text-align: center;
    maring: 0 auto;
    padding-top: 2em;
    padding-bottom: 3em;
  }
  .personalizado__title h2 {
    font-size: 4em;
    text-shadow: 1px 1px 2px #282828;
    color: #fff;
  }
  .personalizado__title p {
    font-size: 2em;
  }
  .personalizado__actions a {
    padding: 1em 1.5em;
    font-size: 1.5em;
  }
}
.confianza {
  background: #f4f5f6;
}
.confianza__box {
  width: 100%;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
}
.confianza__title {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.confianza__title h2 {
  font-size: 2.5em;
  color: #3a3a3a;
}
.confianza__comentarios {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
.confianza__comentarios .comentarios__twitter {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  width: 80%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}
@media (min-width: 700px) {
  .confianza__box {
    width: 100%;
    margin: 0 auto;
  }
  .confianza__title h2 {
    font-size: 3em;
  }
  .confianza__comentarios {
    width: 100%;
  }
  .confianza__comentarios .comentarios__twitter {
    width: 60%;
    display: block;
  }
}
@media (min-width: 768px) {
  .confianza__box {
    max-width: 100%;
    margin: 0 auto;
  }
  .confianza__title h2 {
    font-size: 3.2em;
  }
  .confianza__comentarios {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  .confianza__comentarios .comentarios__twitter {
    width: 43%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 1000px) {
  .confianza__box {
    max-width: 1200px;
    margin: 0 auto;
  }
  .confianza__title h2 {
    font-size: 3em;
  }
  .confianza__comentarios {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  .confianza__comentarios .comentarios__twitter {
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    width: 30%;
margin
  }
}
.plan {
  background: #f2f2f2;
  padding-top: 4em;
  padding-bottom: 1em;
}
.plan__box {
  text-align: center;
  margin: 0 auto;
}
.plan__title {
  text-align: center;
  padding-bottom: 1em;
}
.plan__title h2 {
  font-size: 2em;
  color: #3a3a3a;
}
.plan__sub-title {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1em;
}
.plan__sub-title .sub-title__ico {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3em;
}
.plan__sub-title .numero-ico {
  background: #000;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
  line-height: 30px;
}
.plan__sub-title h3 {
  font-size: 1.6em;
  display: inline-block;
  vertical-align: middle;
  color: #1b1b1b;
}
.plan__paquetes {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.plan__paquetes .paquetes__estandar {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 6px 20px;
  box-shadow: rgba(0,0,0,0.2) 0 6px 20px;
}
.plan__paquetes .paquetes__estandar .estandar__title {
  background: #2de2d3;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.plan__paquetes .paquetes__estandar .estandar__title h2 {
  color: #fff;
}
.plan__paquetes .paquetes__estandar .estandar__precio {
  background: #69fff3;
  padding-top: 2em;
  padding-bottom: 2em;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  color: #fff;
}
.plan__paquetes .paquetes__estandar .estandar__precio h2 {
  font-size: 2.2em;
  display: inline-block;
}
.plan__paquetes .paquetes__estandar .estandar__precio span {
  display: inline-block;
}
.plan__paquetes .paquetes__estandar .estandar__precio p {
  font-size: 1em;
  color: #292929;
}
.plan__paquetes .paquetes__estandar .estandar__atributos {
  background: #fff;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.plan__paquetes .paquetes__estandar .estandar__atributos ul {
  text-align: left;
  padding-left: 3.3em;
  width: 75%;
  margin: 0 auto;
}
.plan__paquetes .paquetes__estandar .estandar__atributos ul li {
  font-size: 1.3em;
  padding-bottom: 0.5em;
  color: #2e2f33;
}
.plan .estandar__precio-box {
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: #fff;
}
.plan .estandar__precio-box .estandar__precio-btn--action {
  background-color: #2de2d3;
  color: #fff;
  text-aligin: center;
  text-decoration: none;
  padding: 0.8em 2em;
  border-radius: 10px 10px 10px 10px;
  border-bottom: 5px solid #1fada2;
  font-size: 1.3em;
}
.plan .estandar__precio-box .estandar__precio-btn--action:hover {
  background-color: #5ffbee;
  font-size: 1.4em;
  padding: 1em 2.1em;
}
.plan .estandar__precio-box .estandar__precio-btn--action.color-green {
  background-color: #2ae475;
  border-bottom: 5px solid #179048;
}
.plan .estandar__precio-box .estandar__precio-btn--action.color-green:hover {
  background: #43ff8f;
}
.plan .paquetes__premium {
  display: block;
  width: 100%;
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.plan .paquetes__premium .premium__title {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #2ae475;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.plan .paquetes__premium .premium__title h2 {
  color: #fff;
}
.plan .paquetes__premium .premium__atributos {
  background: #fff;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.plan .paquetes__premium .premium__atributos ul {
  text-align: left;
  padding-left: 3.3em;
  width: 75%;
  margin: 0 auto;
}
.plan .paquetes__premium .premium__atributos ul li {
  font-size: 1.3em;
  padding-bottom: 0.5em;
  color: #2e2f33;
}
.plan .paquetes__premium .premium__condiciones {
  background: #feffcc;
  padding-top: 1em;
  padding-bottom: 1em;
}
.plan .paquetes__premium .premium__condiciones p {
  font-size: 1em;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}
.plan .paquetes__premium .premium__contacto {
  background: #59ff9c;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  color: #fff;
}
.plan .paquetes__premium .premium__contacto h3 {
  font-size: 2em;
}
.plan .paquetes__premium .premium__contacto p {
  font-size: 1.5em;
  color: #292929;
}
.plan__opcion {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  font-size: 1.5em;
  border-radius: 50%;
  line-height: 30px;
  display: inline-block;
  font-weight: bold;
}
.plan__titlePaypal {
  vertical-align: middle;
  display: inline-block;
}
.plan__titlePaypal h2 {
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
}
.plan__banco h2 {
  display: inline-block;
}
.plan__tarjeta h2 {
  display: inline-block;
}
.plan__form {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}
.plan__form label {
  font-size: 1.3em;
}
.plan__form input {
  box-sizing: border-box;
  width: 100%;
  margin: 0.5em 0 1em 0;
  padding: 0.5em;
  font-size: 1.3em;
  border-radius: 5px;
  outline: 0;
  border: 1px solid #808080;
}
.plan__form .button {
  width: 100%;
  border: none;
  font-weight: bold;
  background-color: #008ec7;
  border-bottom: 4px solid #005e84;
  color: #fff;
  cursor: pointer;
}
.plan__form .button:hover {
  background-color: #00c7ff;
  border-bottom: 4px solid #006886;
}
.plan__paypal {
  margin: 4em auto;
  width: 90%;
}
.plan__paypalButton {
  width: 100%;
}
.plan__ayudaInfo {
  color: #87ceeb;
}
.plan__formPaypal {
  margin: 1.5em 0;
}
.plan__formPaypal .form_paypal {
  width: 200px;
  display: inline-block;
}
.plan__formPaypal .form_paypal .bottomImage {
  outline: 0;
  width: 100%;
  max-width: 300px;
}
.plan__formPaypal img {
  margin-top: 0.5em;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  max-width: 200px;
}
.plan__titleB {
  margin: 1.5em 0;
}
.promocion-especial {
  background: #f2f2f2;
}
.promocion-especial__box {
  text-aligin: center;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2em;
}
.promocion-especial__contenido {
  width: 90%;
  margin: 0 auto;
}
.promocion-especial__contenido .contenido__title {
  background: #69fff3;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.promocion-especial__contenido .contenido__title h2 {
  text-align: center;
  font-size: 2em;
  color: #fff;
}
.promocion-especial__contenido .contenido__promo {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.promocion-especial__contenido .contenido__promo .promo__smile {
  display: inline-block;
  width: 20%;
  text-align: center;
  vertical-align: middle;
}
.promocion-especial__contenido .contenido__promo .promo__smile img {
  width: 50px;
}
.promocion-especial__contenido .contenido__promo .promo__letra {
  display: inline-block;
  width: 70%;
  text-align: center;
  vertical-align: middle;
}
.promocion-especial__contenido .contenido__promo .promo__letra p {
  font-size: 1.4em;
  text-align: left;
}
@media (min-width: 768px) {
  .plan__box {
    max-width: 900px;
  }
  .plan__title h2 {
    font-size: 3em;
  }
  .plan__sub-title {
    font-size: 1.4em;
  }
  .plan__sub-title .numero-ico {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .plan__paquetes .paquetes__estandar {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 2em;
  }
  .plan__paquetes .paquetes__estandar .estandar__precio h2 {
    font-size: 3em;
  }
  .plan__paquetes .paquetes__premium {
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
  .plan__form {
    width: 440px;
  }
  .plan__form input {
    width: 100%;
  }
  .plan__form .button {
    width: 100%;
    margin: 0 auto;
  }
  .plan__formDiv div {
    width: 49%;
    display: inline-block;
  }
  .plan__formDiv div:first-child {
    margin-right: 0.2em;
  }
  .plan__formDiv div input {
    width: 100%;
  }
  .plan__paypalButton {
    margin: 0 auto;
    max-width: 440px;
  }
}
.promocion-especial {
  background: #f2f2f2;
}
.promocion-especial__box {
  text-aligin: center;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2em;
}
.promocion-especial__contenido {
  width: 90%;
  margin: 0 auto;
}
.promocion-especial__contenido .contenido__title {
  background: #2de2d3;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.promocion-especial__contenido .contenido__title h2 {
  text-align: center;
  font-size: 2em;
  color: #fff;
}
.promocion-especial__contenido .contenido__promo {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.promocion-especial__contenido .contenido__promo .promo__smile {
  display: inline-block;
  width: 20%;
  text-align: center;
  vertical-align: middle;
}
.promocion-especial__contenido .contenido__promo .promo__smile img {
  width: 50px;
}
.promocion-especial__contenido .contenido__promo .promo__letra {
  display: inline-block;
  width: 70%;
  text-align: center;
  vertical-align: middle;
}
.promocion-especial__contenido .contenido__promo .promo__letra p {
  font-size: 1.4em;
  text-align: left;
}
@media (min-width: 768px) {
  .promocion-especial__box .contenido__title,
  .promocion-especial__contenido .contenido__title {
    border-radius: 6px 6px 0 0;
  }
  .promocion-especial__box .contenido__promo,
  .promocion-especial__contenido .contenido__promo {
    border-radius: 0 0 6px 6px;
  }
  .promocion-especial__box .contenido__promo .promo__smile img,
  .promocion-especial__contenido .contenido__promo .promo__smile img {
    width: 70px;
  }
  .promocion-especial__box .contenido__promo .promo__letra p,
  .promocion-especial__contenido .contenido__promo .promo__letra p {
    text-align: left;
  }
}
.contacto {
  padding-top: 2em;
  background: #fff;
}
.contacto__box {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
}
.contacto__title {
  width: 100%;
}
.contacto__title h2 {
  font-size: 2.5em;
  color: #3a3a3a;
}
.contacto__title p {
  font-size: 1.7em;
  color: #464646;
}
.contacto__contenido {
  width: 100%;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}
.contacto .contenido__contacto {
  padding-bottom: 1.5em;
}
.contacto .contenido__contacto .contacto__llamada {
  padding-bottom: 1em;
}
.contacto .contenido__contacto .contacto__llamada h3 {
  font-size: 1.5em;
  color: #171717;
}
.contacto .contenido__contacto .contacto__llamada a {
  font-size: 1.4em;
  text-decoration: none;
  color: #36e3ff;
}
.contacto .contenido__contacto .contacto__llamada a:hover {
  color: #87ceeb;
  text-decoration: underline;
}
.contacto .contenido__contacto .contacto__mail {
  padding-bottom: 1em;
}
.contacto .contenido__contacto .contacto__mail h3 {
  font-size: 1.5em;
  color: #171717;
}
.contacto .contenido__contacto .contacto__mail a {
  font-size: 1.4em;
  text-decoration: none;
  color: #36e3ff;
}
.contacto .contenido__contacto .contacto__mail a:hover {
  color: #87ceeb;
  text-decoration: underline;
}
.contacto .contenido__contacto .contacto__redes h3 {
  font-size: 1.5em;
  color: #171717;
}
.contacto .contenido__contacto .contacto__redes .contacto__networking {
  padding-top: 1em;
}
.contacto .contenido__contacto .contacto__redes .contacto__networking a {
  margin: 0.7em;
}
.contacto .contenido__contacto .contacto__redes .contacto__networking img {
  width: 3em;
  border-radius: 10px;
}
.contacto .contenido__mail {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
.contacto .contenido__mail label {
  display: block;
  font-size: 1.3em;
  width: 80%;
  text-align: left;
  margin-left: 10%;
  padding-bottom: 0.3em;
  padding-top: 0.7em;
  color: #171717;
}
.contacto .contenido__mail input {
  display: block;
  padding: 1.2em;
  border: 1px solid #d0d0d0;
  border-radius: 20px;
  margin: 0 auto;
  width: 80%;
  outline: 0;
  font-size: 1em;
}
.contacto .contenido__mail textarea {
  padding: 1.5em;
  display: block;
  border-radius: 20px;
  border: 1px solid #d0d0d0;
  outline: 0;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}
.contacto .contenido__mail p {
  color: #171717;
  text-align: left;
  margin-left: 10%;
}
.contacto .contenido__mail .btn_enviar {
  display: block;
  background: #15deff;
  color: #fff;
  border-radius: 30px;
  padding: 1em;
  font-size: 1em;
  margin: 1.5em auto;
  border-bottom: 5px solid #1d90a2;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}
.contacto .contenido__mail .btn_enviar:hover {
  background: #76e8fb;
  border-bottom: 5px solid #21acc1;
}
@media (min-width: 768px) {
  .contacto__box {
    max-width: 1200px;
  }
  .contacto__title {
    width: 100%;
  }
  .contacto__title h2 {
    font-size: 3.2em;
  }
  .contacto__title p {
    font-size: 2em;
  }
  .contacto__contenido {
    width: 100%;
    display: block;
  }
  .contacto__contenido .contenido__contacto {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
  }
  .contacto__contenido .contenido__contacto .contacto__llamada h3 {
    font-size: 2em;
  }
  .contacto__contenido .contenido__contacto .contacto__llamada a {
    font-size: 1.6em;
  }
  .contacto__contenido .contenido__contacto .contacto__mail h3 {
    font-size: 2em;
  }
  .contacto__contenido .contenido__contacto .contacto__mail a {
    font-size: 1.6em;
  }
  .contacto__contenido .contenido__contacto .contacto__redes h3 {
    font-size: 2em;
  }
  .contacto__contenido .contenido__contacto .contacto__redes .contacto__networking img {
    width: 3.8em;
  }
  .contacto__contenido .contenido__mail {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
  }
  .contacto__contenido .contenido__mail label {
    width: 53%;
    margin-left: 23%;
  }
  .contacto__contenido .contenido__mail input {
    width: 53%;
  }
  .contacto__contenido .contenido__mail textarea {
    max-width: 53%;
  }
  .contacto__contenido .contenido__mail p {
    width: 53%;
    margin-left: 23%;
  }
  .contacto__contenido .contenido__mail .btn_enviar {
    width: 53%;
    margin: 1em auto;
  }
}
.Footer-Main {
  background: #0a192b;
}
.Footer-Main__box {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
}
.Footer-Main p {
  color: #fff;
  font-size: 1em;
}
.Footer-Main a {
  text-decoration: none;
  color: #36e3ff;
}
.Footer-Main a:hover {
  text-decoration: underline;
  color: #87ceeb;
}
.Header-Main {
  background: #fff;
}
.Header-Main__box {
  text-align: left;
  margin-bottom: 0.5em;
}
.Header-Main__logo {
  margin-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.Header-Main__logo a {
  text-decoration: none;
  color: gris_title;
}
.Header-Main__logo a img {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}
.Header-Main__logo a h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  color: #000;
}
.body__llamada {
  background: #efefef;
}
.Call {
  max-width: 600px;
  margin: 3em auto;
  background: #fff;
  border-radius: 5px;
  text-align: center;
}
.Call__art h1 {
  padding: 0.5em 0;
  font-size: 2.5em;
  color: #fff;
  background-color: #40dcaa;
  border-radius: 4px 4px 0 0;
}
.Call__art h2 {
  color: #464646;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  font-size: 1.7em;
}
.Call__art p {
  color: #171717;
  font-size: 1.4em;
  line-height: 1.4;
  padding-bottom: 1.5em;
}
.Call__art p span {
  font-weight: bold;
}
.Footer-Main {
  background: #0a192b;
}
.Footer-Main__box {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
}
.Footer-Main p {
  color: #fff;
  font-size: 1em;
}
.Footer-Main a {
  text-decoration: none;
  color: #36e3ff;
}
.Footer-Main a:hover {
  text-decoration: underline;
  color: #87ceeb;
}
