* {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Questrial' sans-serif;
  color: #171717;
}
body {
  background: #d3d3d3;
}
.Header {
  box-shadow: 0px 4px 3px rgba(0,0,0,0.24);
  position: fixed;
  width: 100%;
  z-index: 9000;
}
.Header__mobile {
  white: 100%;
  display: block;
  background: #fff;
}
.Header__logo {
  display: inline-block;
  padding: 0.5em;
}
.Header__logo a {
  color: #3a3a3a;
  text-decoration: none;
}
.Header__logo img {
  display: inline-block;
  width: 50px;
}
.Header__logo h1 {
  padding: 0.4em 0;
  vertical-align: top;
  display: inline-block;
  font-size: 1.5em;
}
.Header__icon-menu {
  cursor: pointer;
  padding: 1.4em 0.5em;
  float: right;
  display: inline-block;
}
.Header__icon-menu a {
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
  padding: 0.4em;
  border-radius: 5px;
  background-color: #01e6d5;
}
.Header__desktop {
  background: #fff;
}
.Header__logo2 {
  padding-top: 0.3em;
  padding-left: 0.5em;
  display: none;
}
.Header__logo2 a {
  color: #3a3a3a;
  text-decoration: none;
}
.Header__logo2 img {
  display: inline-block;
  width: 50px;
}
.Header__logo2 h1 {
  padding: 0.4em 0;
  vertical-align: top;
  display: inline-block;
  font-size: 1.5em;
}
.Header__nav {
  position: fixed;
  left: -100%;
  height: auto;
  width: 100%;
  background-color: #fff;
  text-align: center;
}
.Header__list:first-child {
  border-top: 1px solid #01e6d5;
}
.Header__botones {
  display: block;
  border-bottom: 1px solid #01e6d5;
}
.Header__botones a {
  font-size: 1.2em;
  padding: 1em 0.5em;
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #808080;
  transition: 0.2s;
}
.Header__botones :hover {
  color: #fff;
  background-color: #01e6d5;
}
@media screen and (min-width: 764px) {
  .Header__mobile {
    display: none;
  }
  .Header__logo2 {
    margin-left: 1em;
    float: left;
    display: inline-block;
  }
  .Header__nav {
    height: auto;
    position: initial;
  }
  .Header__list {
    padding-right: 1.5em;
    text-align: right;
  }
  .Header__list:first-child {
    border-top: none;
  }
  .Header__botones {
    text-align: center;
    display: inline-block;
    border-bottom: none;
  }
  .Header__botones:last-child {
    margin-left: 1em;
  }
  .Header__botones:last-child a {
    max-width: 163px;
    margin: auto;
    color: #00e6d5;
    padding: 0.5em 1em;
    border-radius: 50px;
    border: 1px solid #00e6d5;
  }
  .Header__botones:last-child a:hover {
    background-color: #01e6d5;
    color: #fff;
    border: 1px solid #01e6d5;
  }
}
@media screen and (min-width: 1000px) {
  .Header__botones a {
    padding: 1em 1em;
  }
  .Header__botones:last-child {
    margin: left 2em;
  }
}
.Front {
  padding: 7em 0;
  background: url("../image/2.jpg");
  background-color: #e0ac65;
  background-size: cover;
  background-repeat: no-repeat;
}
.Front__box {
  text-align: center;
}
.Front__text h2 {
  font-family: 'Raleway' sans-serif;
  padding: 0.5em 0;
  font-size: 2em;
  color: #fff;
}
.Front__text p {
  font-size: 1.3em;
  color: #fff;
}
.Front__botoncito {
  padding-top: 5em;
  text-align: center;
  margin: 0 auto;
}
.Front__botoncito a {
  font-weight: bold;
  padding: 0.7em 0.5em;
  font-size: 1.8em;
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  background-color: rgba(0,210,196,0.71);
  display: block;
}
.Front__botoncito a:hover {
  color: #fff;
  border: 2px solid #fff;
  background-color: rgba(0,230,213,0.87);
}
@media screen and (min-width: 321px) {
  .Front__box {
    margin: auto;
    width: 66%;
  }
}
@media screen and (min-width: 764px) {
  .Front {
    padding: 11.7% 0;
  }
  .Front__text h2 {
    font-size: 3.4em;
  }
  .Front__text p {
    margin: auto;
    width: 66%;
    font-size: 1.9em;
  }
  .Front__botoncito a {
    display: initial;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts-video/icomoon.eot?ploybc");
  src: url("../fonts-video/icomoon.eot?ploybc#iefix") format('embedded-opentype'), url("../fonts-video/icomoon.ttf?ploybc") format('truetype'), url("../fonts-video/icomoon.woff?ploybc") format('woff'), url("../fonts-video/icomoon.svg?ploybc#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-window:before {
  content: "\e900";
}
.icon-terminal:before {
  content: "\f0c8";
}
.icon-feed:before {
  content: "\e901";
}
.icon-mic:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.Conviction {
  height: auto;
  whith: 100%;
  background: url("../image/6.jpg");
  background-color: #bc9351;
  background-size: cover;
  background-repeat: no-repeat;
}
.Conviction__box {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 3em 0;
}
.Conviction__box h2 {
  text-shadow: 1px 1px 2px #282828;
  font-size: 2em;
  color: #fff;
}
.Conviction__teach {
  width: 100%;
  height: auto;
}
.Conviction__teach .video-content {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}
.Conviction__teach iframe,
.Conviction__teach object,
.Conviction__teach embed,
.Conviction__teach video {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
}
.Conviction__teach .teach__beneficios {
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
}
.Conviction__teach .teach__beneficios--box {
  text-align: center;
  padding: 0.7em;
}
.Conviction__teach .teach__beneficios--icon {
  color: #fff;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  padding: 0.7em;
  font-size: 3em;
}
.Conviction__teach .teach__beneficios--texto {
  margin-left: 0.5em;
  color: #fff;
  text-align: center;
  display: block;
  vertical-align: middle;
  font-size: 1.1em;
}
@media screen and (min-width: 764px) {
  .Conviction {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .Conviction__box {
    padding: 1em 0;
  }
  .Conviction__box h2 {
    font-size: 3em;
  }
  .Conviction__teach {
    text-align: center;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .Conviction__teach .teach__video {
    width: 61%;
    display: inline-block;
    vertical-align: middle;
  }
  .Conviction__teach .teach__beneficios {
    width: 30%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 3.5em;
    margin-top: -2em;
  }
  .Conviction__teach .teach__beneficios--box {
    text-align: left;
    width: 100%;
    padding: 0;
  }
  .Conviction__teach .teach__beneficios--icon {
    display: inline-block;
    vertical-align: middle;
    width: 2%;
  }
  .Conviction__teach .teach__beneficios--texto {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1200px) {
  .Conviction {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .Conviction__box {
    padding: 1em 0;
  }
  .Conviction__box h2 {
    font-size: 3em;
  }
  .Conviction__teach {
    text-align: center;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .Conviction__teach .teach__video {
    width: 600px;
    height: 400px;
  }
  .Conviction__teach .teach__beneficios {
    width: 24%;
  }
  .Conviction__teach .teach__beneficios--texto {
    width: 71%;
    font-size: 1.3em;
  }
}
.Benefit {
  background: #fff;
  padding-top: 6em;
}
.Benefit__text {
  text-align: center;
  margin: auto;
  width: 90%;
}
.Benefit__text h2 {
  color: #3a3a3a;
  font-size: 2em;
}
.Benefit__text p {
  color: #464646;
  font-size: 1.4em;
  padding-top: 0.5em;
}
.Benefit__art {
  padding: 2em 0;
}
.Benefit__cajas {
  border-radius: 25px;
  text-align: center;
  vertical-align: top;
}
.Benefit__cajas p {
  color: #585858;
  padding-bottom: 2em;
}
.Benefit__cajas a {
  padding: 0.5em;
  background-color: #ffd400;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  border-bottom: 4px solid #c79d00;
  font-weight: bold;
  border-radius: 10px;
}
.Benefit__cajas a:hover {
  background-color: #fff000;
  border-bottom: 4px solid #ffd200;
}
.Benefit__cajas figure img {
  width: 200px;
  border-radius: 50%;
}
.Benefit__cajas .text {
  margin: 1.5em 0;
}
.Benefit__cajas .text h3 {
  margin: 1em 0;
  font-size: 1.5em;
}
@media screen and (min-width: 321px) {
  .Benefit__art {
    text-align: center;
    margin: auto;
    width: 90%;
  }
  .Benefit__cajas {
    margin: 0.5em 2em 0.5em 2em;
    display: inline-block;
    max-width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .Benefit__cajas {
    margin: 0 5%;
    width: 200px;
  }
  .Benefit__cajas .text p {
    font-size: 1.2em;
    color: #585858;
  }
  .Benefit__text h2 {
    font-size: 3.2em;
  }
  .Benefit__text p {
    font-size: 2em;
  }
}
.Convince {
  height: auto;
  background: url("../image/4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.Convince__box {
  padding: 3em 0;
  margin: auto;
  text-align: center;
  width: 90%;
}
.Convince__box h2 {
  text-shadow: 1px 1px 2px #000;
  color: #fff;
  font-size: 3em;
}
@media screen and (min-width: 764px) {
  .Convince {
    height: auto;
  }
  .Convince__box {
    padding: 5em 0;
  }
  .Convince__box h2 {
    font-size: 3.5em;
  }
}
.confianza {
  background: #f4f5f6;
}
.confianza__box {
  width: 100%;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
}
.confianza__title {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.confianza__title h2 {
  font-size: 2.5em;
  color: #3a3a3a;
}
.confianza__comentarios {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
.confianza__comentarios .comentarios__twitter {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  width: 80%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}
@media (min-width: 700px) {
  .confianza__box {
    width: 100%;
    margin: 0 auto;
  }
  .confianza__title h2 {
    font-size: 3em;
  }
  .confianza__comentarios {
    width: 100%;
  }
  .confianza__comentarios .comentarios__twitter {
    width: 60%;
    display: block;
  }
}
@media (min-width: 768px) {
  .confianza__box {
    max-width: 100%;
    margin: 0 auto;
  }
  .confianza__title h2 {
    font-size: 3.2em;
  }
  .confianza__comentarios {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  .confianza__comentarios .comentarios__twitter {
    width: 43%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 1000px) {
  .confianza__box {
    max-width: 1200px;
    margin: 0 auto;
  }
  .confianza__title h2 {
    font-size: 3em;
  }
  .confianza__comentarios {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  .confianza__comentarios .comentarios__twitter {
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    width: 30%;
margin
  }
}
.personalizado {
  background-image: url("../image/estilo2.jpg");
  background-color: #d4b297;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 4em;
  padding-bottom: 4em;
}
.personalizado__box {
  width: 100%;
  text-align: center;
  maring: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
}
.personalizado__title {
  width: 100%;
  text-align: center;
  display: block;
  maring: 0 auto;
}
.personalizado__title h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 2px #282828;
}
.personalizado__title p {
  font-size: 1.7em;
  color: #fff;
  text-shadow: 1px 1px 1px #282828;
}
.personalizado__actions {
  width: 100%;
  text-align: center;
  display: block;
  maring: 0 auto;
  padding-top: 2.5em;
}
.personalizado__actions a {
  background: rgba(24,222,255,0.74);
  padding: 1em;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
}
.personalizado__actions a:hover {
  background: #36e3ff;
}
@media (min-width: 768px) {
  .personalizado__box {
    width: 100%;
    text-align: center;
    maring: 0 auto;
    padding-top: 2em;
    padding-bottom: 3em;
  }
  .personalizado__title h2 {
    font-size: 4em;
    text-shadow: 1px 1px 2px #282828;
    color: #fff;
  }
  .personalizado__title p {
    font-size: 2em;
  }
  .personalizado__actions a {
    padding: 1em 1.5em;
    font-size: 1.5em;
  }
}
.Footer-Main {
  background: #0a192b;
}
.Footer-Main__box {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
}
.Footer-Main p {
  color: #fff;
  font-size: 1em;
}
.Footer-Main a {
  text-decoration: none;
  color: #36e3ff;
}
.Footer-Main a:hover {
  text-decoration: underline;
  color: #87ceeb;
}
