section.Files
	.Files__box
		//- .Files__text
		//- 	h2.Files__title Archivos
		//- .Files__download
		.Files__botones
			.Files__download
				//- h3.Files__titleEnlaces Materiales
				.Files__titleEnlaces
					.Files__icon.icon-file-code 
					h3.Files__title Materiales
				.Files__buttonDownload
					a.Files__boton(href="https://github.com/cromlu/primer_taller/archive/master.zip") Descargar
			.Files__link
				//- h3.Files__titleEnlaces Enlaces
				.Files__titleEnlaces
					.Files__icon.icon-link
					h3.Files__title Enlaces
				ul.Files__list
					li.Files__linkList
						a.Files__enlace(href='https://github.com/cromlu/primer_taller', target="_blanck") Repositorio del Taller | Clase 01
					li.Files__linkList
						a.Files__enlace(href='https://atom.io/', target="_blanck") Atom | A hackable text editor for the 21st Century
					li.Files__linkList
						a.Files__enlace(href='http://www.sublimetext.com/3', target="_blanck") Sublime Text 3 
					li.Files__linkList
						a.Files__enlace(href='http://codepen.io/', target="_blanck") CodePen.io | Editor de texto online 
					li.Files__linkList
						a.Files__enlace(href='http://techcrunch.com/', target="_blanck") TechCrunch.com | Sitio de Noticias Tecnologicas