botones()
	width 100%
	background-color #167ac6
	color white
	height auto
	// font-size 2em
	padding .3em 0

// .icon-file-code
// 	margin-right .5em

a 
	text-decoration none

.Files
	display block
	// padding 1em
	width 99%
	// background #E2E2E2
	margin .5em auto 0 auto
	box-sizing border-box
	&__box
		// background-color white
		text-align center
		width 100%
		height auto
		// padding-bottom 1em
	&__download
		background-color white
		padding-bottom .5em
		margin-bottom 1.5em
		box-shadow 0px 0px 5px #999
	&__link
		box-shadow 0px 0px 5px #999
		background-color white
	&__titleEnlaces
		botones()
	&__icon, &__title
		display inline-block
		font-size 1.5em
		padding .3em
	&__buttonDownload
		width 50%
		margin 1em auto
	&__boton
		background-color #00C82A
		padding .5em
		display block
		font-size 1.5em
		color white
		border-radius 5px
		border-bottom 4px solid #299D00
		font-weight bold
		cursor pointer
		&:hover
			background-color red
			border-bottom 4px solid #BF0000
	&__linkList
		padding .5em
		list-style none
		text-align left
	&__enlace
		color #153357
		font-weight bold
		&:hover
			color #3BD200
			text-decoration underline
		
		
@media screen and (min-width 767px)
	.Files
		width 38%
		display inline-block
		margin-top 75px
		
@media screen and (min-width 1200px)
	.Files
		&__buttonDownload
			width 30%
		&__linkList
			padding 1em