.Banner
	background-color #02607C
	background-image url('../image/banner.jpg')
	width 100%
	padding 1em
	box-sizing border-box
	&__box
		width 90%
		margin 0 auto
	&__title
		width 100%
		&--text
			color white
			font-size 2em
			text-align center
	&__content
		width 100%
		.Day--box-time
			// background skyblue
			display block
			margin 1em
			padding 1em
			vertical-align middle			
			.box--time__top
				// background peru
				display block
				padding .5em
				.top-time
					// background orange
					display inline-block
					padding .1em
					background #F9F6F6
					padding .5em
					margin .2em
					border-radius 10px
					
					h2
						display inline-block
						font-size 2em
					label
						display block
				p
					display inline-block
					vertical-align top
					padding-top .2em
			.box--time__bottom
				// background green
				display block
				padding .5em
				font-size .7em
	&__logo
		width 90%
		margin 2em auto 1em auto
		&--image
			width 200px
			border-radius 50%
	&__button
		// width 50%
		margin 2em auto
		padding .5em
		border-radius 5px 
		background-color #00D10F
		border-bottom 4px solid #168400
		transition .2s
		&--link
			text-align center
			display block
			font-size 1.5em
			text-decoration none
			font-weight bold
			color white
		&:hover
			background-color #00E852
			border-bottom 4px solid #00B845
	
			