.Data-Time
	background #ECECEC
	&__box
		text-align center
		padding-top 2em
		padding-bottom 2em
	&__Day
		background #E4E4E4
		padding 2em
		display block
		vertical-align middle
		margin 1em
		p
			font-size 1.5em
			
		.Day--box-day
			background white
			display block
			padding 1em 3em
			margin 1em
			vertical-align middle
			border 1px solid lightgray
			border-radius 10px
			box-shadow rgba(0, 0, 0, 0.18) 1px 1px 20px
			h4
				font-size 1.4em
			h2
				font-size 2.2em
			h3
				font-size 1.5em
		
		.Day--box-time
			display block
			vertical-align middle
			
			.box--time__top
				display block
				// padding .3em
				.top-time
					// background orange
					display inline-block
					padding .3em
					background #F9F6F6
					margin .2em
					border-radius 10px
					
					h2
						display inline-block
						font-size 1.5em
					label
						display block
				p
					display inline-block
					vertical-align top
					padding-top .2em
			.box--time__bottom
				// background green
				display block
				padding .5em
				font-size .7em
				
					

	&__Week
		background #E4E4E4
		display block
		vertical-align middle
		padding 2em
		border 1px solid black
		margin 1em
		h2
			font-size 1.5em
		.Week--days
			padding-top .5em
			.week--day-class
				display inline-block
				background #F1F1F1
				padding 1em
				margin .2em
				p
				h2

@media (min-width 768px)
	.Data-Time
		&__Day
			display inline-block
			vertical-align middle
			p
				font-size 2em
			.Day--box-day
				display inline-block
				vertical-align middle
				padding 2em
				
				h4
					font-size 1.7em
				h2
					font-size 3.3em
				h3
					font-size 2em
			
			.Day--box-time
				display inline-block
				vertical-align middle
				padding 1em 3em
				margin 1em
				
				.box--time__top
					padding .3em
					.top-time
						// background orange
						display inline-block
						padding .5em
						h2
							font-size 2.5em
						label
							font-size 1.5em
					p 
						font-size 2.5em
				.box--time__bottom
					// background green

		&__Week
			display inline-block
			vertical-align middle
			h2
				font-size 1.9em
			.Week--days
				.week--day-class
					display inline-block
					padding 1em
					margin .2em
					p
						font-size 1.3em