.Learn-about
	// background lightgray
	&__box
		text-align center
		padding-top 3em
		padding-bottom 2em
	&__item
		display inline-block
		margin 1.5em
		margin-bottom 2em
		.item--icon
			
			img
		h2
			font-size 1.3em