* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Questrial' sans-serif;
}
body {
  background: #fff;
  height: 100vh;
}
body::-webkit-scrollbar {
  background: #fff;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
  -webkit-border-radius: 8px;
}
body::-webkit-scrollbar-thumb {
  background: #69c;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-border-radius: 8px;
}
body::-webkit-scrollbar {
  height: 5px;
  width: 8px;
  background: #f8f8f8;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
body::-webkit-scrollbar-thumb {
  background: #505050;
  border: 1px solid #3e3e3e;
}
.Header {
  position: fixed;
  height: 60px;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0px 4px 3px rgba(0,0,0,0.24);
  box-shadow: 0px 4px 3px rgba(0,0,0,0.24);
  width: 100%;
}
.Header__box {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 60px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Header__title {
  text-align: left;
  padding: 3px 5px;
}
.Header__home {
  text-decoration: none;
}
.Header__logo {
  width: 50px;
  display: inline-block;
}
.Header__logo img {
  height: 50px;
  width: 50px;
}
.Header__name {
  padding-left: 5px;
  line-height: 55px;
  color: #000;
  vertical-align: top;
  font-size: 1.5em;
  display: inline-block;
  text-decoration: none;
}
.Header__avatar {
  width: 40px;
}
.Header__avatar img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
}
.Header__link {
  line-height: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: 10px;
  color: #00e2d4;
  font-size: 2rem;
  text-decoration: none;
  display: block;
}
.Header__nav {
  display: inline-block;
}
.Header__mainDesktop {
  display: none;
}
.Header__userList {
  top: 60px;
  left: -100%;
  background: #fff;
  position: absolute;
  width: 100%;
  height: auto;
  list-style: none;
}
.Header__optionMobile {
  border-bottom: 1px solid #808080;
  text-align: center;
}
.Header__optionMobile:first-child {
  border-top: 1px solid #808080;
}
.Header__linkMobile {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.5em;
}
.Header__listDesktop {
  display: none;
}
@media screen and (min-width: 767px) {
  .Header {
    height: 60px;
  }
  .Header__mainMobile {
    display: none;
  }
  .Header__mainMobile a {
    display: none;
  }
  .Header__mainDesktop {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .Header__listDesktop {
    right: -100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    position: relative;
    top: 0;
  }
  .Header__list {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .Header__option {
    list-style: none;
  }
  .Header__link {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .Header__user {
    border-left: 1px solid #00e6d5;
  }
  .Header__userDesktop {
    cursor: pointer;
    padding: 0.5em;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .Header__linkDesktop {
    background: #00b383;
    cursor: pointer;
    height: 40px;
    width: 200px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: flex-star;
    -moz-box-pack: flex-star;
    -o-box-pack: flex-star;
    -ms-flex-pack: flex-star;
    -webkit-justify-content: flex-star;
    justify-content: flex-star;
  }
  .Header__button {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
  }
  .Header__iconExit {
    margin: 0.5em;
    font-size: 1.5em;
  }
  .Header__listLink {
    display: none;
  }
  .Header__userName {
    display: block;
    margin-left: 0.2em;
    font-weight: bold;
    font-size: 1.2rem;
    color: #00e6d5;
  }
  .Header__iconDown {
    color: #009290;
    font-size: 1rem;
    margin-left: 0.4em;
  }
  .Header__userOption {
    display: none;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?wnanrf");
  src: url("../../fonts/icomoon.eot?wnanrf#iefix") format('embedded-opentype'), url("../../fonts/icomoon.ttf?wnanrf") format('truetype'), url("../../fonts/icomoon.woff?wnanrf") format('woff'), url("../../fonts/icomoon.svg?wnanrf#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e902";
}
.icon-course:before {
  content: "\e901";
}
.icon-down:before {
  content: "\f0a3";
}
.icon-desktop:before {
  content: "\f27c";
}
.icon-mobile:before {
  content: "\f038";
}
.icon-added:before {
  content: "\f06b";
}
.icon-file-code:before {
  content: "\f010";
}
.icon-file-directory:before {
  content: "\f016";
}
.icon-config:before {
  content: "\f02f";
}
.icon-heart:before {
  content: "\2665";
}
.icon-home:before {
  content: "\f08d";
}
.icon-zip:before {
  content: "\e90a";
}
.icon-user2:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e90b";
}
.icon-exit:before {
  content: "\e900";
}
.icon-frontend:before {
  content: "\e90c";
}
.icon-git:before {
  content: "\e90d";
}
.icon-1:before {
  content: "\e904";
}
.icon-2:before {
  content: "\e905";
}
.icon-3:before {
  content: "\e906";
}
.icon-4:before {
  content: "\e907";
}
.icon-5:before {
  content: "\e908";
}
.icon-6:before {
  content: "\e909";
}
.icon-backend:before {
  content: "\e90e";
}
.Git {
  background-color: #f5f7f8;
  margin-top: 60px;
  width: 100%;
}
.Git__box {
  width: 100%;
  margin: 0 auto;
}
.Git__class {
  width: 90%;
  margin: 0 auto;
}
.Git__title {
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../../image/git.png");
  background-color: #9d0400;
  text-align: left;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width: 100%;
  font-size: 1.8em;
  padding: 0.7em 0 0.7em 3em;
}
.Git__classContent {
  margin-top: 1.5em;
  width: 100%;
}
.Git__linkClass {
  text-decoration: none;
}
.Git__content {
  border: 1px solid rgba(232,42,37,0.99);
  margin-bottom: 1em;
  height: 102px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
}
.Git__contentTheme {
  background-color: rgba(232,42,37,0.99);
  height: 102px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.Git__icon {
  color: rgba(252,252,252,0.44);
  font-size: 80px;
  line-height: 102px;
}
.Git__contentText {
  color: #252525;
  margin-left: 0.5em;
  text-align: left;
}
.Git__titleClass {
  font-size: 1.7em;
}
.Git__textClass {
  font-size: 1.4em;
}
.Git__hashtag {
  display: none;
}
@media screen and (min-width: 1000px) {
  .Git__class {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
    width: 100%;
  }
  .Git__classContent {
    margin: 1.1em 0;
    height: 495px;
    width: 70%;
    overflow-y: scroll;
  }
  .Git__classContent::-webkit-scrollbar {
    background: #fff;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
    -webkit-border-radius: 8px;
  }
  .Git__classContent::-webkit-scrollbar-thumb {
    background: #69c;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-border-radius: 8px;
  }
  .Git__classContent::-webkit-scrollbar {
    height: 5px;
    width: 8px;
    background: #f8f8f8;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
  }
  .Git__classContent::-webkit-scrollbar-thumb {
    background: #505050;
    border: 1px solid #3e3e3e;
  }
  .Git__content {
    width: 95%;
    margin: 0 auto 1em auto;
  }
  .Git__contentText {
    margin-left: 1em;
  }
  .Git__contentEnd {
    margin: 0 auto;
  }
  .Git__hashtag {
    margin: 0.7em 1em;
    padding: 0.2em 0;
    display: block;
    width: 30%;
  }
}
.body {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}
.esconder {
  display: none;
}
