article.Files
	.Files__box
		.Files__text
			h2.Files__title Material de la clase
		.Files__document
			.Files__link
				.Files__button
					a(href="https://github.com/mayconxhh/TVfy", target="_blank") Ver material
			.Files__link
				.Files__button
					a(href="https://github.com/mayconxhh/TVfy/archive/master.zip") Descargar material
		//- .Files__download
				
				//- ul.Files__list