seccion.Frontend
	.Frontend__box
		h2.Frontend__title Curso de Frontend (Clases)
		.Frontend__class
			.Frontend__classContent
				a.Frontend__linkClass(href="./clase1/index.html")
					article.Frontend__content
						.Frontend__contentTheme
							.Frontend__icon.icon-1
						.Frontend__contentText
							h3.Frontend__titleClass ¿Qué es Frontend?
							p.Frontend__textClass Frontend Básico
				a.Frontend__linkClass(href="#")
					article.Frontend__content
						.Frontend__contentTheme
							.Frontend__icon.icon-2
						.Frontend__contentText
							h3.Frontend__titleClass ¿Qué es Frontend?
							p.Frontend__textClass Frontend Básico
				a.Frontend__linkClass(href="#")
					article.Frontend__content
						.Frontend__contentTheme
							.Frontend__icon.icon-3
						.Frontend__contentText
							h3.Frontend__titleClass ¿Qué es Frontend?
							p.Frontend__textClass Frontend Básico
				a.Frontend__linkClass(href="#")
					article.Frontend__content
						.Frontend__contentTheme
							.Frontend__icon.icon-4
						.Frontend__contentText
							h3.Frontend__titleClass ¿Qué es Frontend?
							p.Frontend__textClass Frontend Básico
				a.Frontend__linkClass(href="#")
					article.Frontend__content
						.Frontend__contentTheme
							.Frontend__icon.icon-5
						.Frontend__contentText
							h3.Frontend__titleClass ¿Qué es Frontend?
							p.Frontend__textClass Frontend Básico
				a.Frontend__linkClass(href="#")
					article.Frontend__content.Frontend__contentEnd
						.Frontend__contentTheme
							.Frontend__icon.icon-6
						.Frontend__contentText
							h3.Frontend__titleClass ¿Qué es Frontend?
							p.Frontend__textClass Frontend Básico
			.Frontend__hashtag
				<a class="twitter-timeline" href="https://twitter.com/hashtag/CromluFrontend" data-widget-id="662811145099739137">Tweets sobre #CromluFrontend</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				