section.Video
	div.Video__box
		div.Video__title
			h2 Primera clase de HTML-CSS
		div.Video__video
			div.video
				iframe(width="100%",height="100%",src="https://www.youtube.com/embed/RBbviZLKEG0",frameborder="0",allowfullscreen)
		//- include ../files/template.jade
