section.Chat
	.Chat__box
		.Chat__sendMessage
			//- .Chat__sendBox
				//- figure.Chat__avatarUser.first
					img(src="public/image/avatar.jpg", alt="", width="40px")
			input.Chat__message(type="text", placeholder="Enviar notas...")
		ul.Chat__list
			each chat in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
				li.Chat__item
					.Chat__content
						.Chat__title
							figure.Chat__avatarUser
								img(src="../image/avatar.jpg", alt="", width="35px")
							h3.Chat__nameUser Maycon
						.Chat__coment
							p.Chat__text hola clase