* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Questrial' sans-serif;
}
body {
  background: #f5f7f8;
  height: 100vh;
}
body::-webkit-scrollbar {
  background: #fff;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
  -webkit-border-radius: 8px;
}
body::-webkit-scrollbar-thumb {
  background: #69c;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -webkit-border-radius: 8px;
}
body::-webkit-scrollbar {
  height: 5px;
  width: 8px;
  background: #f8f8f8;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
body::-webkit-scrollbar-thumb {
  background: #505050;
  border: 1px solid #3e3e3e;
}
.Header {
  position: fixed;
  height: 60px;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0px 4px 3px rgba(0,0,0,0.24);
  box-shadow: 0px 4px 3px rgba(0,0,0,0.24);
  width: 100%;
}
.Header__box {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 60px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Header__title {
  text-align: left;
  padding: 3px 5px;
}
.Header__home {
  text-decoration: none;
}
.Header__logo {
  width: 50px;
  display: inline-block;
}
.Header__logo img {
  height: 50px;
  width: 50px;
}
.Header__name {
  padding-left: 5px;
  line-height: 55px;
  color: #000;
  vertical-align: top;
  font-size: 1.5em;
  display: inline-block;
  text-decoration: none;
}
.Header__avatar {
  width: 40px;
}
.Header__avatar img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
}
.Header__link {
  padding: 14px 10px;
  cursor: pointer;
  color: #00e2d4;
  font-size: 2rem;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.Header__link:hover {
  background-color: #01e6d5;
  color: #fff;
}
.Header__nav {
  display: inline-block;
}
.Header__mainDesktop {
  display: none;
}
.Header__userList {
  top: 60px;
  left: -100%;
  background: #fff;
  position: absolute;
  width: 100%;
  height: auto;
  list-style: none;
}
.Header__optionMobile {
  border-bottom: 1px solid #01e6d5;
  text-align: center;
}
.Header__optionMobile:first-child {
  border-top: 1px solid #01e6d5;
}
.Header__linkMobile {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.5em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.Header__linkMobile:hover {
  background-color: #01e6d5;
  color: #fff;
}
.Header__listDesktop {
  display: none;
}
@media screen and (min-width: 767px) {
  .Header {
    min-height: 60px;
    height: 60px;
  }
  .Header__mainMobile {
    display: none;
  }
  .Header__mainMobile a {
    display: none;
  }
  .Header__mainDesktop {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .Header__listDesktop {
    list-style: none;
    right: -100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    position: relative;
    top: 0;
  }
  .Header__list {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .Header__option {
    list-style: none;
  }
  .Header__link {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0.5em;
    height: 60px;
    line-height: 60px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
  .Header__link:hover {
    background-color: #01e6d5;
  }
  .Header__user {
    border-left: 1px solid #00e6d5;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
  .Header__user:hover {
    border-left: 1px solid #01e6d5;
  }
  .Header__userDesktop {
    cursor: pointer;
    padding: 0.5em;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .Header__userDesktop:hover {
    background-color: #01e6d5;
  }
  .Header__userDesktop:hover .Header__userName {
    color: #fff;
  }
  .Header__linkDesktop {
    background: #00e2d4;
    cursor: pointer;
    height: 40px;
    width: 200px;
    border-bottom: 1px solid rgba(0,137,144,0.58);
    color: #fff;
  }
  .Header__linkDesktop:first-child {
    border-top: 1px solid rgba(0,137,144,0.58);
  }
  .Header__linkDesktop:hover {
    background-color: #007560;
  }
  .Header__button {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    line-height: 40px;
  }
  .Header__iconExit {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 1.5em;
  }
  .Header__listLink {
    display: none;
  }
  .Header__userName {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    display: block;
    margin-left: 0.2em;
    font-weight: bold;
    font-size: 1.2rem;
    color: #00e6d5;
  }
  .Header__iconDown {
    color: #009290;
    font-size: 1rem;
    margin-left: 0.4em;
  }
  .Header__userOption {
    display: none;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?wnanrf");
  src: url("../../fonts/icomoon.eot?wnanrf#iefix") format('embedded-opentype'), url("../../fonts/icomoon.ttf?wnanrf") format('truetype'), url("../../fonts/icomoon.woff?wnanrf") format('woff'), url("../../fonts/icomoon.svg?wnanrf#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e902";
}
.icon-course:before {
  content: "\e901";
}
.icon-down:before {
  content: "\f0a3";
}
.icon-desktop:before {
  content: "\f27c";
}
.icon-mobile:before {
  content: "\f038";
}
.icon-added:before {
  content: "\f06b";
}
.icon-file-code:before {
  content: "\f010";
}
.icon-file-directory:before {
  content: "\f016";
}
.icon-config:before {
  content: "\f02f";
}
.icon-heart:before {
  content: "\2665";
}
.icon-home:before {
  content: "\f08d";
}
.icon-zip:before {
  content: "\e90a";
}
.icon-user2:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e90b";
}
.icon-exit:before {
  content: "\e900";
}
.icon-frontend:before {
  content: "\e90c";
}
.icon-git:before {
  content: "\e90d";
}
.icon-1:before {
  content: "\e904";
}
.icon-2:before {
  content: "\e905";
}
.icon-3:before {
  content: "\e906";
}
.icon-4:before {
  content: "\e907";
}
.icon-5:before {
  content: "\e908";
}
.icon-6:before {
  content: "\e909";
}
.icon-backend:before {
  content: "\e90e";
}
.Video {
  display: inline-block;
  top: 65px;
  bottom: 0;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.Video__box {
  display: block;
  position: relative;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 99%;
  margin: 0 auto;
}
.Video__video {
  -webkit-box-shadow: 0px 0px 5px #999;
  box-shadow: 0px 0px 5px #999;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}
.Video__title {
  width: 100%;
  margin: 0 auto;
}
.Video__title h2 {
  color: #fff;
  background-color: #4ecc63;
  font-size: 1em;
  padding: 0.5em;
}
.video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}
iframe,
object,
embed,
video {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
}
@media screen and (min-width: 480px) {
  .Video__title {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 767px) {
  .Video {
    height: 82vh;
    margin: 0 5px;
    width: 60%;
  }
  .Video__box {
    width: 95%;
    height: auto;
  }
  .Video__title {
    font-size: 1.5em;
  }
}
.Chat {
  display: none;
  -webkit-box-shadow: 0px 0px 6px #999;
  box-shadow: 0px 0px 6px #999;
}
@media screen and (min-width: 767px) {
  .Chat {
    height: 87vh;
    position: fixed;
    top: 70px;
    bottom: 10px;
    display: inline-block;
    text-align: left;
    margin: 0 0.4em;
    width: 38%;
    background-color: #fff;
  }
  .Chat__box {
    width: 99%;
  }
  .Chat__sendMessage {
    margin-bottom: 0.5em;
    text-align: center;
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 60px;
    margin: 0.5em 0;
  }
  .Chat__message {
    border: 1px solid #cecece;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5em;
    height: 50px;
    max-width: 97%;
    width: 97%;
    vertical-align: top;
    outline: none;
    max-height: 50px;
    font-size: 14px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .Chat__list {
    height: 72vh;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -o-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 500px;
    list-style: none;
  }
  .Chat__list::-webkit-scrollbar {
    background: #fff;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
    -webkit-border-radius: 8px;
  }
  .Chat__list::-webkit-scrollbar-thumb {
    background: #69c;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-border-radius: 8px;
  }
  .Chat__list::-webkit-scrollbar {
    height: 5px;
    width: 8px;
    background: #f8f8f8;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
  }
  .Chat__list::-webkit-scrollbar-thumb {
    background: #505050;
    border: 1px solid #3e3e3e;
  }
  .Chat__item {
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    width: 95%;
    margin: 0 auto 0.5em auto;
  }
  .Chat__content {
    margin: 0.5em;
  }
  .Chat__title {
    width: 100%;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  .Chat__avatarUser {
    display: inline-block;
  }
  .Chat__avatarUser img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .Chat__nameUser {
    line-height: 30px;
    margin-left: 0.3em;
    display: inline-block;
    vertical-align: top;
  }
  .Chat__nameUser h3 {
    font-weight: bold;
  }
  .Chat__coment {
    width: 100%;
    vertical-align: top;
  }
  .Chat__text {
    font-size: 14px;
    margin: 0 auto;
    padding: 0.2em;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: auto;
    background: #fff;
  }
}
.Files {
  display: block;
  -webkit-box-shadow: 0px 0px 5px #999;
  box-shadow: 0px 0px 5px #999;
  background-color: #fff;
  width: 99%;
  margin: 0.4em auto 0 auto;
  height: 150px;
}
.Files__box {
  text-align: center;
  height: auto;
}
.Files__button {
  margin-bottom: 0.5em;
  margin-top: 0.4em;
}
.Files__link {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: auto;
}
.Files__link a {
  width: 100%;
  max-width: 190px;
  color: #fff;
  margin: 0 auto;
  display: block;
  font-weight: bold;
  background-color: #00c82a;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 4px solid #299d00;
  padding: 0.4em;
  font-size: 1.3em;
  text-decoration: none;
}
.Files__link a:hover {
  background-color: #f00;
  border-bottom: 4px solid #a0112e;
}
.Files__title {
  background-color: #034c77;
  font-weight: bold;
  color: #fff;
  font-size: 1.5em;
  padding: 0.3em;
}
.Files__document {
  width: 95%;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 50px;
  background: #fff;
}
@media screen and (min-width: 480px) {
  .Files {
    height: auto;
  }
  .Files__link {
    width: 50%;
    display: inline-block;
  }
}
@media screen and (min-width: 767px) {
  .Files {
    height: auto;
    width: 100%;
    margin: 5px auto;
    height: 100px;
  }
}
