seccion.Git
	.Git__box
		h2.Git__title Git (Clases)
		.Git__class
			.Git__classContent <!-- Espera de clases-->
				.Git__wait
					h1.Git__waitTitle Ya falta poco para que inicie el curso :D
					p.Git__waitText Este curso inicia el 14 de diciembre a las 4pm (GMT-5), aprende las bases fuertes del Backend, tendremos clases en vivo.
			.Git__classContent.ocultar
				a.Git__linkClass.ocultar(href="./clase1/index.html")
					article.Git__content
						.Git__contentTheme
							.Git__icon.icon-1
						.Git__contentText
							h3.Git__titleClass ¿Qué es Git?
							p.Git__textClass Git Básico
				a.Git__linkClass.ocultar(href="#")
					article.Git__content
						.Git__contentTheme
							.Git__icon.icon-2
						.Git__contentText
							h3.Git__titleClass ¿Qué es Git?
							p.Git__textClass Git Básico
				a.Git__linkClass.ocultar(href="#")
					article.Git__content
						.Git__contentTheme
							.Git__icon.icon-3
						.Git__contentText
							h3.Git__titleClass ¿Qué es Git?
							p.Git__textClass Git Básico
				a.Git__linkClass.ocultar(href="#")
					article.Git__content
						.Git__contentTheme
							.Git__icon.icon-4
						.Git__contentText
							h3.Git__titleClass ¿Qué es Git?
							p.Git__textClass Git Básico
				a.Git__linkClass.ocultar(href="#")
					article.Git__content
						.Git__contentTheme
							.Git__icon.icon-5
						.Git__contentText
							h3.Git__titleClass ¿Qué es Git?
							p.Git__textClass Git Básico
				a.Git__linkClass.ocultar(href="#")
					article.Git__content.Git__contentEnd
						.Git__contentTheme
							.Git__icon.icon-6
						.Git__contentText
							h3.Git__titleClass ¿Qué es Git?
							p.Git__textClass Git Básico
			.Git__hashtag
				<a class="twitter-timeline" href="https://twitter.com/hashtag/CromluGit" data-widget-id="663035636769779712">Tweets sobre #CromluGit</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>