.pagar
	&__box
		text-align center
		margin 0 auto
		padding-top 3em
		padding-bottom 2em
	&__steps
		width 80%
		display block
		text-align center
		margin 0 auto
		padding-bottom 1em
		figure
			margin 0 auto
			img
				width 230px
		p
			width 80%
			font-size 1.3em
			margin 0 auto
		h4
			margin-top .5em
			font-size 1.3em
		ul
			list-style none
			width 190px
			margin .7em auto
			text-align left
			strong
				font-size 1.3em
	.pagar__mensaje
		padding-top 1em
		padding-bottom 1em
		h3
			font-size 1.5em
			width 80%
			margin 0 auto
			
				

@media (min-width 768px)
	.pagar
		&__box
			text-align center
			margin 0 auto
			max-width 1300px
		&__steps
			width 34%
			display inline-block
			vertical-align top
			margin-right 2em
			margin-left 2em
			img
				width 170px
		.pagar__mensaje
			h3
				font-size 1.5em
				
@media (min-width 1000px)
	.pagar
		&__box
			text-align center
			margin 0 auto
			max-width 1300px
		&__steps
			width 25%