seccion.Backend
	.Backend__box
		h2.Backend__title Backend (Clases)
		.Backend__class
			.Backend__classContent <!-- Espera de clases-->
				.Backend__wait
					h1.Backend__waitTitle Ya falta poco para que inicie el curso :D
					p.Backend__waitText Este curso inicia el 14 de diciembre a las 4pm (GMT-5), aprende las bases fuertes del Backend, tendremos clases en vivo.
			.Backend__classContent.ocultar
				a.Backend__linkClass.ocultar(href="./clase1/index.html")
					article.Backend__content
						.Backend__contentTheme
							.Backend__icon.icon-1
						.Backend__contentText
							h3.Backend__titleClass ¿Qué es Backend?
							p.Backend__textClass Backend Básico
				a.Backend__linkClass.ocultar(href="#")
					article.Backend__content
						.Backend__contentTheme
							.Backend__icon.icon-2
						.Backend__contentText
							h3.Backend__titleClass ¿Qué es Backend?
							p.Backend__textClass Backend Básico
				a.Backend__linkClass.ocultar(href="#")
					article.Backend__content
						.Backend__contentTheme
							.Backend__icon.icon-3
						.Backend__contentText
							h3.Backend__titleClass ¿Qué es Backend?
							p.Backend__textClass Backend Básico
				a.Backend__linkClass.ocultar(href="#")
					article.Backend__content
						.Backend__contentTheme
							.Backend__icon.icon-4
						.Backend__contentText
							h3.Backend__titleClass ¿Qué es Backend?
							p.Backend__textClass Backend Básico
				a.Backend__linkClass.ocultar(href="#")
					article.Backend__content
						.Backend__contentTheme
							.Backend__icon.icon-5
						.Backend__contentText
							h3.Backend__titleClass ¿Qué es Backend?
							p.Backend__textClass Backend Básico
				a.Backend__linkClass.ocultar(href="#")
					article.Backend__content.Backend__contentEnd
						.Backend__contentTheme
							.Backend__icon.icon-6
						.Backend__contentText
							h3.Backend__titleClass ¿Qué es Backend?
							p.Backend__textClass Backend Básico
			.Backend__hashtag
				<a class="twitter-timeline" href="https://twitter.com/hashtag/CromluBackend" data-widget-id="663035392296402946">Tweets sobre #CromluBackend</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>