section.Courses
	.Courses__box
		article.Courses__titleContent
			h2.Courses__titleText Aprende con nuestros cursos
		a.Courses__contentLink(href="./frontend/")
			article.Courses__content
				.Courses__front
					.Courses__figure.Courses__figure--frontend
						.Courses__subtitle
							h3 Frontend
					//- img.(src="", alt="Cromlu, curso de frontend")
		a.Courses__contentLink(href="./git/")
			article.Courses__content
				.Courses__git
					.Courses__figure.Courses__figure--git
						.Courses__subtitle
							h3 Git y Github
						//- img(src="public/image/frontend.jpg", alt="Cromlu, curso de frontend")
		a.Courses__contentLink(href="./backend/")
			article.Courses__content
				.Courses__backend
					.Courses__figure.Courses__figure--backend
						.Courses__subtitle
							h3 Backend
						//- img(src="public/image/frontend.jpg", alt="Cromlu, curso de frontend")
